Repository ourgal/snowfall: changes, and which lefthook commands are due for each by the changed paths.
All: toml, json, yaml, nix, deadnix, python, lua, fennel, markdown, sh, go, elisp

toml:
  run: taplo fmt {staged_files}
  stage_fixed: true

json:
  run: fixjson -w {staged_files}
  stage_fixed: true

yaml:
  run: yamlfix {staged_files}
  stage_fixed: true

nix:
  run: nixfmt {staged_files}
  stage_fixed: true

deadnix:
  run: deadnix -eq {staged_files}
  stage_fixed: true

python:
  run: ruff check --fix {staged_files} && ruff format {staged_files}
  stage_fixed: true

lua:
  run: stylua {staged_files}
  stage_fixed: true

fennel:
  run: fnlfmt --fix {staged_files}
  stage_fixed: true

markdown:
  run: prettier --parser markdown --write {staged_files} && autocorrect --fix --quiet {staged_files}
  stage_fixed: true

sh:
  run: shfmt -s -w {staged_files}
  stage_fixed: true

go:
  run: gofmt -w {staged_files}
  stage_fixed: true

elisp:
  run: lisp-format -i -style=google {staged_files}
  stage_fixed: true

feat: add processing
  modules/home/dev/processing/default.nix
Due: nix, deadnix

feat: add qcomicbook
  modules/home/desktop/image/manga/default.nix
Due: nix, deadnix

feat: add qimgv
  modules/home/desktop/image/default.nix
  modules/home/desktop/image/manga/default.nix
  modules/home/desktop/image/touchpad/default.nix
  modules/home/desktop/image/viewer/default.nix
Due: nix, deadnix

feat: add qscreenshot
  modules/home/cli/image/default.nix
  modules/home/cli/image/viewer/default.nix
  modules/home/desktop/image/screenshot/default.nix
  modules/home/desktop/image/viewer/default.nix
Due: nix, deadnix

feat: add qvge
  modules/home/dev/dot/default.nix
Due: nix, deadnix

feat: add rapid-photo-downloader
  modules/home/desktop/image/camera/default.nix
Due: nix, deadnix

feat: add rawtherapee
  modules/home/cli/image/raw/default.nix
  modules/home/desktop/image/raw/default.nix
Due: nix, deadnix

feat: add smartdeblur
  modules/home/desktop/image/deblur/default.nix
Due: nix, deadnix

feat: add vengi-tools
  modules/home/desktop/image/game/default.nix
Due: nix, deadnix

feat: add veusz
  modules/home/desktop/image/science/default.nix
Due: nix, deadnix

feat: add weylus
  modules/nixos/weylus/default.nix
  systems/x86_64-linux/home/default.nix
Due: nix, deadnix

feat: add xournalpp
  modules/home/desktop/image/pdf/default.nix
Due: nix, deadnix

feat: add yacreader
  modules/home/desktop/image/manga/default.nix
Due: nix, deadnix

feat: add xzgv
  modules/home/desktop/image/viewer/default.nix
Due: nix, deadnix

feat: add sosreport
  modules/home/dev/log/default.nix
Due: nix, deadnix

feat: add actiona
  modules/home/desktop/automation/default.nix
Due: nix, deadnix

feat: add avalonia-ilspy
  modules/home/dev/dotnet/default.nix
Due: nix, deadnix

feat: add brewtarget
  modules/home/desktop/beer/default.nix
Due: nix, deadnix

chore: update secrets
  secrets/zxc/default.yaml
Due: yaml

feat: add rygel
  modules/home/desktop/video/default.nix
Due: nix, deadnix

feat: add gerbera
  modules/home/desktop/video/default.nix
Due: nix, deadnix

chore: update domain blacklist
  lib/domains/blacklist.key
Due: none

chore: organize desktop video module
  modules/home/desktop/video/editor/default.nix
  modules/home/desktop/video/education/default.nix
  modules/home/desktop/video/gif/default.nix
  modules/home/desktop/video/jellyfin/default.nix
  modules/home/desktop/video/jellyfin/jellyfin-mpv-shim/default.nix
  modules/home/desktop/video/jellyfin/jellyfin-mpv-shim/mpv.conf
  modules/home/desktop/video/player/default.nix
  modules/home/desktop/video/player/mpv/base/default.nix
  modules/home/desktop/video/player/mpv/default.nix
  modules/home/desktop/video/player/mpv/mime/default.nix
  modules/home/desktop/video/player/mpv/plugins/default.nix
  modules/home/desktop/video/player/mpv/yt-subs/default.nix
  modules/home/desktop/video/recording/default.nix
  modules/home/desktop/video/subtitle/default.nix
  modules/home/desktop/video/torrent/default.nix
  modules/home/desktop/video/upnp/default.nix
  modules/home/desktop/video/youtube/default.nix
  modules/home/desktop/video/youtube/freetube/default.nix
  modules/home/desktop/video/youtube/ytui/default.nix
Due: nix, deadnix

feat: add fcitx5-mozc
  modules/home/desktop/browser/qutebrowser/quickmarks.key
  modules/home/desktop/system/dunst/default.nix
  modules/home/desktop/system/sbsrf/default.nix
Due: nix, deadnix

feat: add ums
  modules/home/desktop/video/upnp/default.nix
  overlays/helix-gpt/default.nix
  overlays/ums/default.nix
Due: nix, deadnix

chore: add age cheat to navi
  modules/home/cli/snippet/navi/my_cheats/age.cheat
Due: none

feat: add pfp-generator
  modules/home/cli/image/default.nix
  modules/home/cli/image/generator/default.nix
  nvfetcher.toml
  packages/pfp-generator/default.nix
Due: toml, nix, deadnix

chore: auto update nix hash
  _sources/cdo-51ccf8eacb7032538cb662da2cd6a83d31deee88/Cargo.lock
  _sources/dela-4c4e6bbf1f6a582f947d79eb8d2aac1575f21d8b/Cargo.lock
  _sources/generated.json
  _sources/generated.nix
  _sources/simple-completion-language-server-ff33d965e28004800ace2449a73f7dc74cdbe815/Cargo.lock
Due: json, nix, deadnix

chore: update hash
  packages/html-to-markdown/default.nix
  packages/soba/default.nix
Due: nix, deadnix

chore: restart activitywatch watchers
  modules/home/desktop/time-tracker/activitywatch/default.nix
Due: nix, deadnix

chore: add vim-orgmode
  modules/home/cli/editor/vim/integration/default.nix
  modules/home/cli/editor/vim/integration/vim-orgmode/default.nix
Due: nix, deadnix

chore: disable vim-just
  modules/home/cli/editor/vim/lang/default.nix
Due: nix, deadnix

chore: open clipboard only by qutebrowser p
  modules/home/desktop/browser/qutebrowser/default.nix
Due: nix, deadnix

chore: update qutebrowser bookmarks
  modules/home/desktop/browser/qutebrowser/quickmarks.key
Due: none

feat: add betterlockscreen
  modules/home/cli/snippet/navi/my_cheats/system.cheat
  modules/home/cli/system/betterlockscreen/default.nix
  modules/home/cli/system/default.nix
Due: nix, deadnix

feat: add fdroidcl
  modules/home/cli/android/default.nix
  modules/home/cli/default.nix
  nvfetcher.toml
  packages/fdroidcl/default.nix
Due: toml, nix, deadnix

chore: auto update nix hash
  _sources/cdo-adb985374b521e6b430ff8ae9b05c1be4b319c80/Cargo.lock
  _sources/generated.json
  _sources/generated.nix
  _sources/hexpatch-v1.11.2/Cargo.lock
  _sources/shh-849b9a6646981c83a72a977b6398371e29d3b928/Cargo.lock
Due: json, nix, deadnix

chore: update hash
  packages/bestsub/default.nix
Due: nix, deadnix

chore: add some apps to fdroidcl config
  modules/home/cli/android/default.nix
  modules/home/cli/android/fdroidcl/default.nix
Due: nix, deadnix

Path conditions:
  toml: any of: *.toml
  json: any of: *.json
  yaml: any of: *.{yaml,yml}
  nix: any of: *.nix
  deadnix: any of: *.nix
  python: any of: *.py
  lua: any of: *.lua
  fennel: any of: *.fnl
  markdown: any of: *.md
  sh: any of: *.sh
  go: any of: *.go
  elisp: any of: *.el
