Repository ourgal/snowfall: changes, and which lefthook commands are due for each by the changed paths.
All: toml, json, yaml, nix, deadnix, python, lua, fennel, markdown, sh, go, elisp

toml:
  run: taplo fmt {staged_files}
  stage_fixed: true

json:
  run: fixjson -w {staged_files}
  stage_fixed: true

yaml:
  run: yamlfix {staged_files}
  stage_fixed: true

nix:
  run: nixfmt {staged_files}
  stage_fixed: true

deadnix:
  run: deadnix -eq {staged_files}
  stage_fixed: true

python:
  run: ruff check --fix {staged_files} && ruff format {staged_files}
  stage_fixed: true

lua:
  run: stylua {staged_files}
  stage_fixed: true

fennel:
  run: fnlfmt --fix {staged_files}
  stage_fixed: true

markdown:
  run: prettier --parser markdown --write {staged_files} && autocorrect --fix --quiet {staged_files}
  stage_fixed: true

sh:
  run: shfmt -s -w {staged_files}
  stage_fixed: true

go:
  run: gofmt -w {staged_files}
  stage_fixed: true

elisp:
  run: lisp-format -i -style=google {staged_files}
  stage_fixed: true

chore: unpack gif-progress src
  packages/gif-progress/default.nix
Due: nix, deadnix

chore: change hypergrep src
  nvfetcher.toml
  packages/hypergrep/default.nix
Due: toml, nix, deadnix

chore: auto update nix hash
  _sources/generated.json
  _sources/generated.nix
Due: json, nix, deadnix

chore: change gtm src
  nvfetcher.toml
  packages/gtm/default.nix
Due: toml, nix, deadnix

chore: unpack gtm
  packages/gtm/default.nix
Due: nix, deadnix

chore: change sequin src
  nvfetcher.toml
  packages/sequin/default.nix
Due: toml, nix, deadnix

chore: change mosdns-cn src
  nvfetcher.toml
  packages/mosdns-cn/default.nix
Due: toml, nix, deadnix

chore: change tp src
  nvfetcher.toml
  packages/tp/default.nix
Due: toml, nix, deadnix

chore: change sbsrf-rime-data src
  nvfetcher.toml
  packages/sbsrf-rime-data/default.nix
Due: toml, nix, deadnix

chore: set platforms
  packages/corgi/default.nix
  packages/gif-progress/default.nix
  packages/gtm/default.nix
  packages/hypergrep/default.nix
  packages/mosdns-cn/default.nix
  packages/sequin/default.nix
  packages/tp/default.nix
Due: nix, deadnix

chore: change boilr src
  nvfetcher.toml
  packages/boilr/default.nix
Due: toml, nix, deadnix

fix: add url.name
  nvfetcher.toml
Due: toml

feat: add chinadns-ng
  nvfetcher.toml
  packages/chinadns-ng/default.nix
Due: toml, nix, deadnix

chore: set platforms
  packages/boilr/default.nix
  packages/corgi/default.nix
  packages/gif-progress/default.nix
  packages/gtm/default.nix
  packages/hypergrep/default.nix
  packages/mosdns-cn/default.nix
  packages/sequin/default.nix
  packages/tp/default.nix
Due: nix, deadnix

feat: add Alatsi
  lib/fonts/default.nix
  nvfetcher.toml
  packages/Alatsi/default.nix
Due: toml, nix, deadnix

feat: add toneoz-font-pinyin-kai
  lib/fonts/default.nix
  nvfetcher.toml
  packages/toneoz-font-pinyin-kai/default.nix
Due: toml, nix, deadnix

feat: add Chillkai
  lib/fonts/default.nix
  nvfetcher.toml
  packages/Chillkai/default.nix
Due: toml, nix, deadnix

feat: add Shanggu
  lib/fonts/default.nix
  modules/home/fonts/default.nix
  modules/nixos/fonts/default.nix
  nvfetcher.toml
  packages/Shanggu/default.nix
Due: toml, nix, deadnix

feat: add gowall
  modules/home/cli/image/default.nix
Due: nix, deadnix

chore: change doom emacs default font
  modules/home/desktop/editor/doom-emacs/config/config.el
Due: elisp

feat: add jiten
  modules/home/cli/doc/default.nix
Due: nix, deadnix

feat: add ccal
  modules/home/cli/doc/default.nix
Due: nix, deadnix

feat: add source-han-mono
  lib/fonts/default.nix
  modules/home/fonts/default.nix
Due: nix, deadnix

chore: add monospace settings to fontconfig
  modules/home/fonts/default.nix
Due: nix, deadnix

refactor: fonts settings
  lib/fonts/default.nix
  modules/home/fonts/default.nix
  modules/nixos/fonts/default.nix
Due: nix, deadnix

chore: clean code
  lib/caddy/default.nix
  lib/deploy/default.nix
  lib/docker/default.nix
  lib/domains/default.nix
  lib/fish/default.nix
  lib/ip/default.nix
  lib/module/default.nix
  lib/sing-box/default.nix
  lib/ssh/default.nix
  lib/syncthing/default.nix
  lib/xdg/default.nix
Due: nix, deadnix

chore: change getPkg arguments
  lib/fonts/default.nix
  modules/home/fonts/default.nix
  modules/nixos/fonts/default.nix
Due: nix, deadnix

chore: add more fontconfig
  modules/home/fonts/default.nix
Due: nix, deadnix

chore: handle dash in font name
  lib/fonts/default.nix
Due: nix, deadnix

feat: add swei-gothic
  lib/fonts/default.nix
  nvfetcher.toml
  packages/swei-gothic/default.nix
Due: toml, nix, deadnix

chore: auto update nix hash
  _sources/dela-903ec33b18e9ab2cb5b1109e18b27b4570d4592b/Cargo.lock
  _sources/generated.json
  _sources/generated.nix
Due: json, nix, deadnix

chore: update hash
  packages/tach/Cargo.lock
Due: none

Path conditions:
  toml: any of: *.toml
  json: any of: *.json
  yaml: any of: *.{yaml,yml}
  nix: any of: *.nix
  deadnix: any of: *.nix
  python: any of: *.py
  lua: any of: *.lua
  fennel: any of: *.fnl
  markdown: any of: *.md
  sh: any of: *.sh
  go: any of: *.go
  elisp: any of: *.el
