Repository ourgal/snowfall: changes, and which lefthook commands are due for each by the changed paths.
All: toml, json, yaml, nix, deadnix, python, lua, fennel, markdown, sh, go, elisp

toml:
  run: taplo fmt {staged_files}
  stage_fixed: true

json:
  run: fixjson -w {staged_files}
  stage_fixed: true

yaml:
  run: yamlfix {staged_files}
  stage_fixed: true

nix:
  run: nixfmt {staged_files}
  stage_fixed: true

deadnix:
  run: deadnix -eq {staged_files}
  stage_fixed: true

python:
  run: ruff check --fix {staged_files} && ruff format {staged_files}
  stage_fixed: true

lua:
  run: stylua {staged_files}
  stage_fixed: true

fennel:
  run: fnlfmt --fix {staged_files}
  stage_fixed: true

markdown:
  run: prettier --parser markdown --write {staged_files} && autocorrect --fix --quiet {staged_files}
  stage_fixed: true

sh:
  run: shfmt -s -w {staged_files}
  stage_fixed: true

go:
  run: gofmt -w {staged_files}
  stage_fixed: true

elisp:
  run: lisp-format -i -style=google {staged_files}
  stage_fixed: true

chore: replace rexi with the nixpkgs's one
  README.org
  modules/home/dev/regex/default.nix
  nvfetcher.toml
  packages/rexi/default.nix
  waiting.sql
Due: toml, nix, deadnix

feat: add go-import-lint
  README.org
  modules/home/dev/go/default.nix
  waiting.sql
Due: nix, deadnix

feat: add luau module
  README.org
  modules/home/dev/default.nix
  modules/home/dev/luau/default.nix
  waiting.sql
Due: nix, deadnix

feat: add typship
  README.org
  modules/home/dev/typst/default.nix
  waiting.sql
Due: nix, deadnix

feat: add outfieldr
  README.org
  modules/home/cli/doc/default.nix
  modules/home/cli/doc/outfieldr/default.nix
  waiting.sql
Due: nix, deadnix

feat: add tmux-sessionx
  README.org
  modules/home/cli/multiplexer/tmux/default.nix
  modules/home/cli/multiplexer/tmux/sessionx/default.nix
  waiting.sql
Due: nix, deadnix

feat: add lon
  README.org
  modules/home/cli/nix/default.nix
  waiting.sql
Due: nix, deadnix

chore: set nix mirrors
  modules/nixos/common/nix/default.nix
Due: nix, deadnix

chore: update domain blacklist
  lib/domains/blacklist.key
Due: none

chore: use doomemacs macro
  modules/home/desktop/editor/doom-emacs/config/plugins/just-mode.el
  modules/home/desktop/editor/doom-emacs/config/plugins/just-ts-mode.el
  modules/home/desktop/editor/doom-emacs/config/plugins/magit-delta.el
  modules/home/desktop/editor/doom-emacs/config/plugins/magit-stats.el
  modules/home/desktop/editor/doom-emacs/config/plugins/magit-todos.el
  modules/home/desktop/editor/doom-emacs/config/plugins/treesit-auto.el
  modules/home/desktop/editor/doom-emacs/config/plugins/zeal-at-point.el
Due: elisp

chore: change just modes suffix settings
  modules/home/desktop/editor/doom-emacs/config/plugins/just-mode.el
  modules/home/desktop/editor/doom-emacs/config/plugins/just-ts-mode.el
Due: elisp

feat: add treesit-grammars
  modules/home/desktop/editor/doom-emacs/default.nix
  modules/home/desktop/editor/doom-emacs/treesit-grammars/default.nix
Due: nix, deadnix

feat: add nix-ts-mode
  modules/home/desktop/editor/doom-emacs/config/config.el
  modules/home/desktop/editor/doom-emacs/config/plugins/nix-ts-mode.el
  modules/home/desktop/editor/doom-emacs/default.nix
  modules/home/desktop/editor/doom-emacs/nix-ts-mode/default.nix
Due: nix, deadnix, elisp

feat: add vimscript-ts-mode
  modules/home/desktop/editor/doom-emacs/config/config.el
  modules/home/desktop/editor/doom-emacs/config/packages.el
  modules/home/desktop/editor/doom-emacs/config/plugins/vimscript-ts-mode.el
  modules/home/desktop/editor/doom-emacs/default.nix
  modules/home/desktop/editor/doom-emacs/vimscript-ts-mode/default.nix
Due: nix, deadnix, elisp

feat: add regname
  README.org
  modules/home/cli/utils/mv/default.nix
  waiting.sql
Due: nix, deadnix

chore: replace mnamer with the nixpkgs' one
  modules/home/cli/utils/mv/default.nix
  nvfetcher.toml
  packages/mnamer/default.nix
Due: toml, nix, deadnix

chore: replace emacs-zoxide with the nixpkgs's one
  modules/home/desktop/editor/doom-emacs/zoxide/default.nix
  nvfetcher.toml
  packages/emacs-zoxide/default.nix
Due: toml, nix, deadnix

chore: use the nixpkgs's wired
  flake.nix
  modules/home/desktop/system/wired/default.nix
Due: nix, deadnix

feat: add jqfmt
  README.org
  modules/home/dev/json/default.nix
  waiting.sql
Due: nix, deadnix

feat: add goverter
  README.org
  modules/home/dev/go/default.nix
  waiting.sql
Due: nix, deadnix

feat: add alisthelper
  README.org
  modules/home/desktop/share/default.nix
  waiting.sql
Due: nix, deadnix

chore: replace pkl with the nixpkgs's one
  README.org
  modules/home/dev/pkl/default.nix
  waiting.sql
Due: nix, deadnix

feat: add ggh
  README.org
  modules/home/cli/ssh/default.nix
  waiting.sql
Due: nix, deadnix

chore: replace hexpatch with the nixpkgs's one
  modules/home/dev/hex/default.nix
  nvfetcher.toml
  packages/hexpatch/default.nix
Due: toml, nix, deadnix

feat: add hevi
  README.org
  modules/home/dev/hex/default.nix
  waiting.sql
Due: nix, deadnix

feat: add speed-cloudflare-cli
  README.org
  modules/home/dev/network/default.nix
  waiting.sql
Due: nix, deadnix

feat: add goshs
  README.org
  modules/home/cli/share/default.nix
  waiting.sql
Due: nix, deadnix

chore: disable emacs-nix-ts-mode
  modules/home/desktop/editor/doom-emacs/config/config.el
  modules/home/desktop/editor/doom-emacs/default.nix
Due: nix, deadnix, elisp

feat: add emacs-chinese-conv
  modules/home/desktop/editor/doom-emacs/chinese-conv/default.nix
  modules/home/desktop/editor/doom-emacs/config/config.el
  modules/home/desktop/editor/doom-emacs/config/plugins/chinese-conv.el
  modules/home/desktop/editor/doom-emacs/default.nix
Due: nix, deadnix, elisp

feat: add emacs-chinese-number
  modules/home/desktop/editor/doom-emacs/chinese-number/default.nix
  modules/home/desktop/editor/doom-emacs/config/config.el
  modules/home/desktop/editor/doom-emacs/config/plugins/chinese-number.el
  modules/home/desktop/editor/doom-emacs/default.nix
Due: nix, deadnix, elisp

feat: add emacs-bing-dict
  modules/home/desktop/editor/doom-emacs/bing-dict/default.nix
  modules/home/desktop/editor/doom-emacs/config/config.el
  modules/home/desktop/editor/doom-emacs/config/plugins/bing-dict.el
  modules/home/desktop/editor/doom-emacs/default.nix
Due: nix, deadnix, elisp

chore: update waiting list
  README.org
  waiting.sql
Due: none

feat: add rembg
  modules/home/cli/image/editor/default.nix
Due: nix, deadnix

feat: add vim-eunuch
  modules/home/cli/editor/vim/command/default.nix
  modules/home/cli/editor/vim/command/vim-eunuch/default.nix
Due: nix, deadnix

chore: update fw config
  modules/home/cli/versionControl/git/batch/fw/default.nix
Due: nix, deadnix

feat: add cmake
  modules/home/dev/c/default.nix
  modules/home/dev/cpp/default.nix
Due: nix, deadnix

chore: disable firewall on desktops
  systems/x86_64-linux/air/default.nix
  systems/x86_64-linux/home/default.nix
  systems/x86_64-linux/surface/default.nix
Due: nix, deadnix

chore: 🧹 add git config
  lib/git/default.nix
  modules/home/cli/versionControl/git/add/default.nix
  modules/home/cli/versionControl/git/alias/default.nix
  modules/home/cli/versionControl/git/batch/fw/default.nix
  modules/home/cli/versionControl/git/cli/default.nix
  modules/home/cli/versionControl/git/cli/scmpuff/default.nix
  modules/home/cli/versionControl/git/default.nix
  modules/home/cli/versionControl/git/diff/default.nix
  modules/home/cli/versionControl/git/diff/diff-so-fancy/default.nix
  modules/home/cli/versionControl/git/template/default.nix
Due: nix, deadnix

feat: ✨ add riff module
  modules/home/cli/versionControl/git/diff/riff/default.nix
Due: nix, deadnix

Path conditions:
  toml: any of: *.toml
  json: any of: *.json
  yaml: any of: *.{yaml,yml}
  nix: any of: *.nix
  deadnix: any of: *.nix
  python: any of: *.py
  lua: any of: *.lua
  fennel: any of: *.fnl
  markdown: any of: *.md
  sh: any of: *.sh
  go: any of: *.go
  elisp: any of: *.el
