Repository ourgal/snowfall: changes, and which lefthook commands are due for each by the changed paths.
All: toml, json, yaml, nix, deadnix, python, lua, fennel, markdown, sh, go, elisp

lefthook.yml:

---
output: false
pre-commit:
  commands:
    toml:
      glob: '*.toml'
      run: taplo fmt {staged_files}
      stage_fixed: true
    json:
      glob: '*.json'
      run: fixjson -w {staged_files}
      stage_fixed: true
    yaml:
      glob: '*.{yaml,yml}'
      run: yamlfix {staged_files}
      stage_fixed: true
    nix:
      glob: '*.nix'
      run: nixfmt {staged_files}
      stage_fixed: true
    deadnix:
      glob: '*.nix'
      run: deadnix -eq {staged_files}
      stage_fixed: true
    python:
      glob: '*.py'
      run: ruff check --fix {staged_files} && ruff format {staged_files}
      stage_fixed: true
    lua:
      glob: '*.lua'
      run: stylua {staged_files}
      stage_fixed: true
    fennel:
      glob: '*.fnl'
      run: fnlfmt --fix {staged_files}
      stage_fixed: true
    markdown:
      glob: '*.md'
      run: prettier --parser markdown --write {staged_files} && autocorrect --fix
        --quiet {staged_files}
      stage_fixed: true
    sh:
      glob: '*.sh'
      run: shfmt -s -w {staged_files}
      stage_fixed: true
    go:
      glob: '*.go'
      run: gofmt -w {staged_files}
      stage_fixed: true
    elisp:
      glob: '*.el'
      run: lisp-format -i -style=google {staged_files}
      stage_fixed: true
    keep-sorted:
      run: keep-sorted --mode fix {staged_files}
      stage_fixed: true
    whitespace:
      run: >
        whitespace-format --remove-trailing-whitespace
        --remove-trailing-empty-lines
        {staged_files} --exclude
        "(.gpg|.png|.jpg|.jpeg|.webp|.gif|.dat|.age|.mp3|.mp4|.mkv|.ttf|.ico|.xcf|.ogg)$"
      stage_fixed: true
    config-file-validator:
      run: validator {staged_files}
    gitleaks:
      run: gitleaks protect -v --staged
commit-msg:
  scripts:
    commitlint.sh:
      runner: bash

feat: add simple-http-server
  modules/home/cli/share/default.nix
Due: nix, deadnix

feat: add screego
  modules/home/cli/share/default.nix
Due: nix, deadnix

chore: change dunst alert sound
  modules/home/desktop/system/dunst/default.nix
  nvfetcher.toml
  packages/soundfx/default.nix
Due: toml, nix, deadnix

chore: auto update nix hash
  _sources/dela-3ff75b0aaa7daa071e97d6ec24a76969c1eb4c56/Cargo.lock
  _sources/generated.json
  _sources/generated.nix
Due: json, nix, deadnix

fix: disable build phase of soundfx
  packages/soundfx/default.nix
Due: nix, deadnix

feat: add upterm
  modules/home/cli/share/default.nix
Due: nix, deadnix

feat: add githooks
  modules/home/cli/versionControl/git/hook/default.nix
Due: nix, deadnix

chore: add some subs
  lib/subs/default.nix
Due: nix, deadnix

chore: add redirect domains
  lib/domains/default.nix
  lib/sing-box/default.nix
  lib/subs/default.nix
  modules/nixos/dnsmasq/default.nix
  modules/nixos/mihomo/default.nix
  modules/nixos/sing-box/default.nix
  modules/nixos/temp-hosts/default.nix
  systems/x86_64-linux/d2550/default.nix
Due: nix, deadnix

chore: use subconverter for sing-box
  lib/subs/default.nix
Due: nix, deadnix

chore: change ipv6 address
  modules/nixos/router/default.nix
Due: nix, deadnix

chore: add caddy zstd compress
  lib/caddy/default.nix
Due: nix, deadnix

chore: moev mirrors to flake config
  flake.nix
  modules/nixos/common/nix/default.nix
Due: nix, deadnix

feat: add zeal-at-point
  modules/home/desktop/editor/doom-emacs/config/config.el
  modules/home/desktop/editor/doom-emacs/config/plugins/zeal-at-point.el
  modules/home/desktop/editor/doom-emacs/zeal-at-point/default.nix
  nvfetcher.toml
Due: toml, nix, deadnix, elisp

chore: auto update nix hash
  _sources/dela-bc1112efbc32d545bc50132535142c3b96a3a935/Cargo.lock
  _sources/generated.json
  _sources/generated.nix
  _sources/hexpatch-v1.11.1/Cargo.lock
  _sources/shh-a625d11d4edbc14eb81c07a9ab197375ae4e989f/Cargo.lock
  _sources/simple-completion-language-server-8ade648e1471131c476f38158bf25a0372330946/Cargo.lock
Due: json, nix, deadnix

chore: disable shh
  modules/home/cli/system/bak/default.nix
  modules/home/cli/system/default.nix
Due: nix, deadnix

chore: chaneg router ipv6
  modules/nixos/router/default.nix
Due: nix, deadnix

chore: enable zeal-at-point package
  modules/home/desktop/editor/doom-emacs/default.nix
Due: nix, deadnix

chore: disable nnn and ranger aliases
  modules/home/cli/file-manager/nnn/default.nix
  modules/home/cli/file-manager/nnn/shortcut/default.nix
  modules/home/cli/file-manager/ranger/default.nix
Due: nix, deadnix

chore: add file manager shortcut
  modules/home/cli/shell/fish/default.nix
Due: nix, deadnix

chore: enable dev blog
  modules/home/dev/default.nix
Due: nix, deadnix

chore: seperate helix ansible lang
  modules/home/cli/editor/helix/default.nix
Due: nix, deadnix

feat: add tmux-ssh-split
  modules/home/cli/multiplexer/tmux/default.nix
  modules/home/cli/multiplexer/tmux/ssh-split/default.nix
  modules/home/cli/multiplexer/tmux/yank/default.nix
  nvfetcher.toml
  packages/tmux-ssh-split/default.nix
Due: toml, nix, deadnix

chore: auto update nix hash
  _sources/generated.json
  _sources/generated.nix
  _sources/shh-ca293dac64c6022d802439ad6bfeffb4490fca68/Cargo.lock
  _sources/ynk-05349baaad56e6417c43f895c0af5602bc905f42/Cargo.lock
Due: json, nix, deadnix

feat: add tmux-sessionizer
  modules/home/cli/multiplexer/tmux/default.nix
  modules/home/cli/multiplexer/tmux/tmux-sessionizer/default.nix
Due: nix, deadnix

feat: add helix-gpt
  modules/home/cli/editor/helix/default.nix
  modules/home/dev/blog/bak/default.nix
  modules/home/dev/blog/default.nix
Due: nix, deadnix

feat: add dev jupyter
  modules/home/dev/jupyter/default.nix
Due: nix, deadnix

feat: add tinymist
  modules/home/dev/typst/default.nix
Due: nix, deadnix

feat: add commitmsgfmt
  lefthook.yml
  modules/home/cli/versionControl/git/commit/default.nix
  packages/commitmsgfmt/default.nix
Due: yaml, nix, deadnix

feat: add dev scala
  modules/home/dev/scala/default.nix
Due: nix, deadnix

feat: add templ
  modules/home/dev/html/default.nix
Due: nix, deadnix

feat: add commitlint-rs
  .lefthook/commit-msg/commitlint.sh
  lefthook.yml
  modules/home/cli/versionControl/git/commit/commitlint-rs/default.nix
  modules/home/cli/versionControl/git/commit/default.nix
Due: yaml, nix, deadnix, sh

chore: add justfile format hook
  lefthook.yml
Due: yaml

chore: set yaml formater for doom emacs
  modules/home/desktop/editor/doom-emacs/config/plugins/apheleia.el
Due: elisp

feat: add mangal
  modules/home/cli/download/default.nix
Due: nix, deadnix

feat: add mokuro
  modules/home/desktop/image/bak/default.nix
Due: nix, deadnix

feat: add mloader
  modules/home/cli/download/default.nix
Due: nix, deadnix

feat: add suwayomi-server
  lib/domains/default.nix
  modules/nixos/suwayomi-server/default.nix
Due: nix, deadnix

chore: add zed config
  modules/home/desktop/editor/zed-editor/default.nix
Due: nix, deadnix

chore: enhance qutebrowser p
  modules/home/desktop/browser/qutebrowser/default.nix
Due: nix, deadnix
