Repository ourgal/snowfall: changes, and which lefthook commands are due for each by the changed paths.
All: toml, json, yaml, nix, deadnix, python, lua, fennel, markdown, sh, go, elisp

lefthook.yml:

---
output: false
pre-commit:
  commands:
    toml:
      glob: '*.toml'
      run: taplo fmt {staged_files}
      stage_fixed: true
    json:
      glob: '*.json'
      run: fixjson -w {staged_files}
      stage_fixed: true
    yaml:
      glob: '*.{yaml,yml}'
      run: yamlfix {staged_files}
      stage_fixed: true
    nix:
      glob: '*.nix'
      run: nixfmt {staged_files}
      stage_fixed: true
    deadnix:
      glob: '*.nix'
      run: deadnix -eq {staged_files}
      stage_fixed: true
    python:
      glob: '*.py'
      run: ruff check --fix {staged_files} && ruff format {staged_files}
      stage_fixed: true
    lua:
      glob: '*.lua'
      run: stylua {staged_files}
      stage_fixed: true
    fennel:
      glob: '*.fnl'
      run: fnlfmt --fix {staged_files}
      stage_fixed: true
    markdown:
      glob: '*.md'
      run: prettier --parser markdown --write {staged_files} && autocorrect --fix
        --quiet {staged_files}
      stage_fixed: true
    sh:
      glob: '*.sh'
      run: shfmt -s -w {staged_files}
      stage_fixed: true
    go:
      glob: '*.go'
      run: gofmt -w {staged_files}
      stage_fixed: true
    elisp:
      glob: '*.el'
      run: lisp-format -i -style=google {staged_files}
      stage_fixed: true
    keep-sorted:
      run: keep-sorted --mode fix {staged_files}
      stage_fixed: true
    whitespace:
      run: >
        whitespace-format --remove-trailing-whitespace
        --remove-trailing-empty-lines
        {staged_files} --exclude
        "(.gpg|.png|.jpg|.jpeg|.webp|.gif|.dat|.age|.mp3|.mp4|.mkv|.ttf|.ico|.xcf|.ogg)$"
      stage_fixed: true
    config-file-validator:
      run: validator {staged_files}
    gitleaks:
      run: gitleaks protect -v --staged
commit-msg:
  scripts:
    commitlint.sh:
      runner: bash

chore: replace resolved with avahi
  modules/nixos/common/network/default.nix
Due: nix, deadnix

feat: add metacubexd
  lib/domains/default.nix
  modules/nixos/metacubexd/default.nix
  systems/x86_64-linux/brix/default.nix
Due: nix, deadnix

chore: move .ssh tmpfiles rules to ssh module
  modules/home/cli/default.nix
  modules/home/cli/ssh/default.nix
Due: nix, deadnix

feat: add sing-box-fork
  nvfetcher.toml
  packages/sing-box-fork/default.nix
Due: toml, nix, deadnix

chore: auto update nix hash
  _sources/generated.json
  _sources/generated.nix
Due: json, nix, deadnix

fix: start services after tmpfiles
  modules/nixos/jellyfin/default.nix
  modules/nixos/kavita/default.nix
  modules/nixos/navidrome/default.nix
  modules/nixos/syncthing/default.nix
Due: nix, deadnix

chore: disable temp hosts
  systems/x86_64-linux/home/default.nix
Due: nix, deadnix

feat: add tmux-floax
  modules/home/cli/multiplexer/tmux/default.nix
  modules/home/cli/multiplexer/tmux/floax/default.nix
  nvfetcher.toml
  packages/tmux-floax/default.nix
Due: toml, nix, deadnix

chore: disable tmux-floax
  modules/home/cli/multiplexer/tmux/default.nix
Due: nix, deadnix

feat: add tmux-buoyshell
  modules/home/cli/multiplexer/tmux/buoyshell/default.nix
  modules/home/cli/multiplexer/tmux/default.nix
  modules/home/cli/multiplexer/tmux/which-key/default.nix
  nvfetcher.toml
  packages/tmux-buoyshell/default.nix
Due: toml, nix, deadnix

chore: disable buoyshell
  modules/home/cli/multiplexer/tmux/default.nix
Due: nix, deadnix

chore: replace hardcode path with nix config
  modules/nixos/anki-sync-server/default.nix
  modules/nixos/miniflux/default.nix
  modules/nixos/vaultwarden/default.nix
Due: nix, deadnix

chore: change sing-box-fork branch
  nvfetcher.toml
Due: toml

chore: auto update nix hash
  _sources/generated.json
  _sources/generated.nix
  _sources/simple-completion-language-server-9fc165dbf67321ebb798302ccc1f8ca6748be920/Cargo.lock
Due: json, nix, deadnix

feat: add userborn
  modules/nixos/common/default.nix
  modules/nixos/common/user/default.nix
Due: nix, deadnix
