Repository ourgal/snowfall: changes, and which lefthook commands are due for each by the changed paths.
All: toml, json, yaml, nix, deadnix, python, lua, fennel, markdown, sh, go, elisp

toml:
  run: taplo fmt {staged_files}
  stage_fixed: true

json:
  run: fixjson -w {staged_files}
  stage_fixed: true

yaml:
  run: yamlfix {staged_files}
  stage_fixed: true

nix:
  run: nixfmt {staged_files}
  stage_fixed: true

deadnix:
  run: deadnix -eq {staged_files}
  stage_fixed: true

python:
  run: ruff check --fix {staged_files} && ruff format {staged_files}
  stage_fixed: true

lua:
  run: stylua {staged_files}
  stage_fixed: true

fennel:
  run: fnlfmt --fix {staged_files}
  stage_fixed: true

markdown:
  run: prettier --parser markdown --write {staged_files} && autocorrect --fix --quiet {staged_files}
  stage_fixed: true

sh:
  run: shfmt -s -w {staged_files}
  stage_fixed: true

go:
  run: gofmt -w {staged_files}
  stage_fixed: true

elisp:
  run: lisp-format -i -style=google {staged_files}
  stage_fixed: true

feat: add apkeep
  modules/home/cli/android/default.nix
Due: nix, deadnix

chore: stop activitywatch services restarting
  modules/home/desktop/time-tracker/activitywatch/default.nix
Due: nix, deadnix

refactor: remove listToAttrs in lib xdg
  lib/xdg/default.nix
Due: nix, deadnix

chore: add fw config
  modules/home/cli/versionControl/git/batch/default.nix
  modules/home/cli/versionControl/git/batch/fw/default.nix
  modules/home/desktop/editor/doom-emacs/config/config.el
Due: nix, deadnix, elisp

chore: remove goldendict dict
  modules/home/desktop/document/goldendict-ng/default.nix
Due: nix, deadnix

fix: delay activitywatch watchers
  modules/home/desktop/time-tracker/activitywatch/default.nix
Due: nix, deadnix

feat: add dish
  modules/home/dev/network/default.nix
  nvfetcher.toml
  packages/dish/default.nix
Due: toml, nix, deadnix

chore: auto update nix hash
  _sources/generated.json
  _sources/generated.nix
  _sources/shh-74914dc8cfd74dbd7e051a090cc4c1f561b8cdde/Cargo.lock
Due: json, nix, deadnix

chore: add ntp servers
  modules/home/cli/snippet/navi/my_cheats/system.cheat
  modules/nixos/common/timezone/default.nix
Due: nix, deadnix

feat: add automatic-timezoned
  modules/nixos/common/default.nix
  modules/nixos/common/ntp/default.nix
  modules/nixos/common/timezone/automatic-timezoned/default.nix
Due: nix, deadnix

feat: add localtimed
  lib/settings/default.nix
  modules/nixos/automatic-timezoned/default.nix
  modules/nixos/geoclue2/default.nix
  modules/nixos/localtimed/default.nix
  systems/x86_64-linux/home/default.nix
Due: nix, deadnix

feat: add ntp
  modules/nixos/common/ntp/default.nix
  modules/nixos/common/ntp/ntp/default.nix
  modules/nixos/common/ntp/timesyncd/default.nix
Due: nix, deadnix

chore: enable ssh socket
  modules/nixos/common/ssh/default.nix
Due: nix, deadnix

chore: set nixPath
  modules/nixos/common/nix/default.nix
Due: nix, deadnix

chore: sign git commit
  modules/home/cli/versionControl/git/commit/default.nix
  modules/home/cli/versionControl/git/commit/sign/default.nix
Due: nix, deadnix

chore: auto update nix hash
  _sources/dela-b2178bbac159806e20f6ac324b648e4a8504c430/Cargo.lock
  _sources/generated.json
  _sources/generated.nix
Due: json, nix, deadnix

chore: add surface sign key
  modules/home/cli/versionControl/git/commit/default.nix
  modules/home/cli/versionControl/git/commit/sign/default.nix
Due: nix, deadnix

chore: add gemini proxy to aichat
  modules/nixos/sops-nix/desktops/default.nix
  modules/nixos/sops-nix/desktops/deno_domain.key
Due: nix, deadnix

chore: remove jerry token
  modules/nixos/sops-nix/desktops/default.nix
  secrets/zxc/default.yaml
Due: yaml, nix, deadnix

chore: update ranger keymap
  modules/home/cli/file-manager/ranger/default.nix
Due: nix, deadnix

chore: add calibre config to espanso
  modules/home/desktop/system/espanso/calibre.yml
  modules/home/desktop/system/espanso/default.nix
Due: yaml, nix, deadnix

chore: add ranger rifle config
  modules/home/cli/file-manager/ranger/default.nix
Due: nix, deadnix

feat: add pyload
  lib/domains/default.nix
  modules/nixos/pyload/default.nix
Due: nix, deadnix

chore: add metadata download script
  modules/home/desktop/system/espanso/default.nix
  modules/home/desktop/system/sxhkd/default.nix
Due: nix, deadnix

feat: add xmagnify
  modules/home/desktop/system/default.nix
Due: nix, deadnix

feat: add tty-clock
  modules/home/cli/clock/default.nix
  modules/home/cli/default.nix
Due: nix, deadnix

feat: add clock-tui
  modules/home/cli/clock/default.nix
  nvfetcher.toml
  packages/clock-tui/default.nix
Due: toml, nix, deadnix

chore: auto update nix hash
  _sources/clock-tui-v0.6.0/Cargo.lock
  _sources/dela-1017a3d0b9cd215ee4aadbf687720a9a8cc4ead2/Cargo.lock
  _sources/generated.json
  _sources/generated.nix
Due: json, nix, deadnix

chore: update domains blacklist
  lib/domains/blacklist.key
Due: none

chore: update hash
  packages/goji/default.nix
  packages/is/default.nix
Due: nix, deadnix

chore: update qutebrowser bookmarks
  modules/home/desktop/browser/qutebrowser/quickmarks.key
Due: none

feat: add muffet
  modules/home/dev/network/default.nix
Due: nix, deadnix

feat: add qlty
  modules/home/dev/default.nix
  nvfetcher.toml
  packages/qlty/Cargo.lock
  packages/qlty/default.nix
Due: toml, nix, deadnix

feat: add dotenv-linter
  modules/home/dev/default.nix
Due: nix, deadnix

feat: add lintr
  lib/module/default.nix
  modules/home/dev/r/default.nix
Due: nix, deadnix

feat: add gixy
  modules/home/dev/nginx/default.nix
Due: nix, deadnix

chore: auto update nix hash
  _sources/generated.json
  _sources/generated.nix
  _sources/qlty-v0.527.0/Cargo.lock
  _sources/simple-completion-language-server-a5dc8f5a60417a8d0c1d6a30b858471510562d9d/Cargo.lock
Due: json, nix, deadnix

chore: update hash
  modules/home/cli/reader/bak/default.nix
  modules/home/cli/reader/default.nix
  packages/qlty/Cargo.lock
Due: nix, deadnix

feat: add flynt
  modules/home/dev/python/default.nix
Due: nix, deadnix

Path conditions:
  toml: any of: *.toml
  json: any of: *.json
  yaml: any of: *.{yaml,yml}
  nix: any of: *.nix
  deadnix: any of: *.nix
  python: any of: *.py
  lua: any of: *.lua
  fennel: any of: *.fnl
  markdown: any of: *.md
  sh: any of: *.sh
  go: any of: *.go
  elisp: any of: *.el
