Repository ourgal/snowfall: changes, and which lefthook commands are due for each by the changed paths.
All: toml, json, yaml, nix, deadnix, python, lua, fennel, markdown, sh, go, elisp

lefthook.yml:

---
output: false
pre-commit:
  commands:
    toml:
      glob: '*.toml'
      run: taplo fmt {staged_files}
      stage_fixed: true
    json:
      glob: '*.json'
      run: fixjson -w {staged_files}
      stage_fixed: true
    yaml:
      glob: '*.{yaml,yml}'
      run: yamlfix {staged_files}
      stage_fixed: true
    nix:
      glob: '*.nix'
      run: nixfmt {staged_files}
      stage_fixed: true
    deadnix:
      glob: '*.nix'
      run: deadnix -eq {staged_files}
      stage_fixed: true
    python:
      glob: '*.py'
      run: ruff check --fix {staged_files} && ruff format {staged_files}
      stage_fixed: true
    lua:
      glob: '*.lua'
      run: stylua {staged_files}
      stage_fixed: true
    fennel:
      glob: '*.fnl'
      run: fnlfmt --fix {staged_files}
      stage_fixed: true
    markdown:
      glob: '*.md'
      run: prettier --parser markdown --write {staged_files} && autocorrect --fix
        --quiet {staged_files}
      stage_fixed: true
    sh:
      glob: '*.sh'
      run: shfmt -s -w {staged_files}
      stage_fixed: true
    go:
      glob: '*.go'
      run: gofmt -w {staged_files}
      stage_fixed: true
    elisp:
      glob: '*.el'
      run: lisp-format -i -style=google {staged_files}
      stage_fixed: true
    keep-sorted:
      run: keep-sorted --mode fix {staged_files}
      stage_fixed: true
    whitespace:
      run: >
        whitespace-format --remove-trailing-whitespace
        --remove-trailing-empty-lines
        {staged_files} --exclude
        "(.gpg|.png|.jpg|.jpeg|.webp|.gif|.dat|.age|.mp3|.mp4|.mkv|.ttf|.ico|.xcf|.ogg)$"
      stage_fixed: true
    config-file-validator:
      run: validator {staged_files}
    gitleaks:
      run: gitleaks protect -v --staged
commit-msg:
  scripts:
    commitlint.sh:
      runner: bash

feat: add nftables-mode to doom emacs
  modules/home/desktop/editor/doom-emacs/config/config.el
  modules/home/desktop/editor/doom-emacs/config/packages.el
  modules/home/desktop/editor/doom-emacs/config/plugins/nftables-mode.el
  modules/home/desktop/editor/doom-emacs/default.nix
  modules/home/desktop/editor/doom-emacs/nftables-mode/default.nix
Due: nix, deadnix, elisp

chore: change default terminal to kitty
  modules/home/user/default.nix
Due: nix, deadnix

feat: add bilix
  modules/home/cli/download/default.nix
  nvfetcher.toml
  packages/bilix/default.nix
Due: toml, nix, deadnix

chore: auto update nix hash
  _sources/generated.json
  _sources/generated.nix
  _sources/mdsf-v0.8.1/Cargo.lock
  _sources/simple-completion-language-server-926ad987b8c1c1044f5290f71967326e9f54cb9b/Cargo.lock
Due: json, nix, deadnix

chore: update hash
  packages/tach/Cargo.lock
Due: none

feat: add bestsub
  modules/home/cli/default.nix
  modules/home/cli/proxy/default.nix
  modules/home/cli/utils/grep/bak/default.nix
  modules/home/cli/utils/grep/default.nix
  nvfetcher.toml
  packages/bestsub/default.nix
Due: toml, nix, deadnix

chore: auto update nix hash
  _sources/generated.json
  _sources/generated.nix
Due: json, nix, deadnix

feat: add douyin-downloader
  modules/home/cli/download/default.nix
  nvfetcher.toml
  packages/douyin-downloader/default.nix
  packages/douyin-downloader/pyproject.toml
Due: toml, nix, deadnix

chore: format toml file in doom emacs
  modules/home/desktop/editor/doom-emacs/config/plugins/apheleia.el
Due: elisp

chore: enable kmonad for laptops
  systems/x86_64-linux/air/default.nix
  systems/x86_64-linux/surface/default.nix
Due: nix, deadnix

chore: add laptop module
  lib/settings/default.nix
  systems/x86_64-linux/air/default.nix
  systems/x86_64-linux/surface/default.nix
Due: nix, deadnix

feat: add rofi-rbw
  modules/home/cli/encrypt/rbw/default.nix
Due: nix, deadnix

feat: add qute-translate-popup
  modules/home/desktop/browser/qutebrowser/default.nix
  modules/home/desktop/browser/qutebrowser/quickmarks.key
  nvfetcher.toml
  packages/qute-translate-popup/default.nix
Due: toml, nix, deadnix

chore: update vim macro
  modules/home/cli/editor/vim/macro.vim
  modules/home/cli/file-manager/chezmoi/config/dot_vim/macro.vim
Due: none

chore: enable networkmanager only for laptops
  modules/nixos/common/network/default.nix
Due: nix, deadnix

feat: add dnsmasq
  lib/ip/brix_ip.key
  lib/ip/brix_mac.key
  lib/ip/ct3003_ip.key
  lib/ip/ct3003_mac.key
  lib/ip/d2550_ip.key
  lib/ip/default.nix
  lib/ip/home_ip.key
  lib/ip/home_mac.key
  lib/ip/nuc_ip.key
  lib/ip/nuc_mac.key
  lib/ip/onecloud_ip.key
  lib/ip/onecloud_mac.key
  modules/nixos/dnsmasq/default.nix
Due: nix, deadnix

feat: add pppd
  modules/nixos/pppd/default.nix
  modules/nixos/pppd/name.key
  modules/nixos/pppd/password.key
Due: nix, deadnix

feat: add sing-box
  .gitleaksignore
  lib/sing-box/default.nix
  modules/nixos/sing-box/blacklist.key
  modules/nixos/sing-box/default.nix
  modules/nixos/sing-box/fakeIpExclude.key
  modules/nixos/sing-box/knjc.key
  modules/nixos/sing-box/nano.key
  modules/nixos/sing-box/whitelist.key
  packages/sing-box-fork/default.nix
  systems/x86_64-linux/d2550/default.nix
Due: nix, deadnix
