Repository ourgal/snowfall: changes, and which lefthook commands are due for each by the changed paths.
All: toml, json, yaml, nix, deadnix, python, lua, fennel, markdown, sh, go, elisp

toml:
  run: taplo fmt {staged_files}
  stage_fixed: true

json:
  run: fixjson -w {staged_files}
  stage_fixed: true

yaml:
  run: yamlfix {staged_files}
  stage_fixed: true

nix:
  run: nixfmt {staged_files}
  stage_fixed: true

deadnix:
  run: deadnix -eq {staged_files}
  stage_fixed: true

python:
  run: ruff check --fix {staged_files} && ruff format {staged_files}
  stage_fixed: true

lua:
  run: stylua {staged_files}
  stage_fixed: true

fennel:
  run: fnlfmt --fix {staged_files}
  stage_fixed: true

markdown:
  run: prettier --parser markdown --write {staged_files} && autocorrect --fix --quiet {staged_files}
  stage_fixed: true

sh:
  run: shfmt -s -w {staged_files}
  stage_fixed: true

go:
  run: gofmt -w {staged_files}
  stage_fixed: true

elisp:
  run: lisp-format -i -style=google {staged_files}
  stage_fixed: true

chore: update mosdns config
  modules/nixos/mosdns/default.nix
Due: nix, deadnix

chore: add router ip
  lib/ip/default.nix
Due: nix, deadnix

chore: update hash
  _sources/generated.json
  _sources/generated.nix
  _sources/hexpatch-v1.11.0/Cargo.lock
Due: json, nix, deadnix

chore: add conditon for sops-nix
  modules/nixos/sops-nix/default.nix
Due: nix, deadnix

feat: add bpftune
  lib/settings/default.nix
  modules/nixos/bpftune/default.nix
  systems/x86_64-linux/brix/default.nix
  systems/x86_64-linux/d2550/default.nix
  systems/x86_64-linux/home/default.nix
Due: nix, deadnix

chore: add tmux fix script
  modules/home/cli/multiplexer/tmux/default.nix
  modules/home/cli/runner/just/default.nix
Due: nix, deadnix

feat: add youtube-tui
  modules/home/cli/video/default.nix
Due: nix, deadnix

chore: add qutebrowser bookmarks
  modules/home/desktop/browser/qutebrowser/quickmarks.key
Due: none

feat: add kotatogram-desktop
  modules/home/desktop/chat/default.nix
Due: nix, deadnix

chore: move clash-verge-rev to proxy module
  modules/home/desktop/proxy/default.nix
  modules/home/desktop/system/default.nix
Due: nix, deadnix

feat: add termsonic
  modules/home/cli/audio/default.nix
  modules/home/cli/audio/termsonic/default.nix
  modules/home/cli/audio/termsonic/password.key
  modules/home/cli/audio/termsonic/username.key
Due: nix, deadnix

chore: remove kmonad from laptops modules
  lib/settings/default.nix
Due: nix, deadnix

feat: add picocrypt-cli
  modules/home/cli/encrypt/default.nix
Due: nix, deadnix

chore: add rbw cheat to navi
  modules/home/cli/snippet/navi/my_cheats/rbw.cheat
Due: none

chore: add condition for docker nfs volume
  lib/docker/default.nix
  systems/x86_64-linux/brix/default.nix
Due: nix, deadnix

chore: set arion package
  modules/nixos/docker/default.nix
Due: nix, deadnix

chore: clean code
  modules/nixos/user/default.nix
Due: nix, deadnix

feat: add exfatprogs
  modules/home/cli/system/default.nix
Due: nix, deadnix

chore: change home-manager flake url to flakehub
  flake.lock
  flake.nix
Due: nix, deadnix

chore: remove lfs
  .gitattributes
Due: none

chore: change git attributes
  .gitattributes
Due: none

feat: add git-annex-utils
  modules/home/cli/versionControl/git/sync/default.nix
Due: nix, deadnix

chore: replace hardcode path with systemd path
  modules/nixos/sing-box/default.nix
Due: nix, deadnix

chore: add sops templates
  modules/nixos/sops-nix/default.nix
  modules/nixos/sops-nix/desktops/default.nix
  modules/nixos/sops-nix/router/default.nix
  secrets/zxc/default.yaml
  systems/x86_64-linux/air/default.nix
  systems/x86_64-linux/d2550/default.nix
  systems/x86_64-linux/home/default.nix
  systems/x86_64-linux/surface/default.nix
Due: yaml, nix, deadnix

chore: add qutebrowser userscripts
  modules/home/desktop/browser/qutebrowser/default.nix
Due: nix, deadnix

chore: remove cron from nvfetcher action
  .github/workflows/nvfetcher.yaml
Due: yaml

feat: add quickbench
  modules/home/cli/system/default.nix
  nvfetcher.toml
  packages/quickbench/default.nix
Due: toml, nix, deadnix

chore: auto update nix hash
  _sources/cdo-c8a226e97470ccd1e527738c66dcffc1b7095117/Cargo.lock
  _sources/dela-851431fa982102879520310ef43d87037e35bb03/Cargo.lock
  _sources/dra-0.8.1/Cargo.lock
  _sources/generated.json
  _sources/generated.nix
  _sources/mdsf-v0.8.2/Cargo.lock
  _sources/simple-completion-language-server-6c797949ad5a6e9548b60b5475d1c9977f26c811/Cargo.lock
Due: json, nix, deadnix

chore: update hash
  nvfetcher.toml
  packages/bestsub/default.nix
  packages/gitty/default.nix
  packages/html-to-markdown/default.nix
  packages/tach/Cargo.lock
Due: toml, nix, deadnix

chore: auto update nix hash
  _sources/generated.json
  _sources/generated.nix
  _sources/mdsf-v0.8.1/Cargo.lock
Due: json, nix, deadnix

feat: add mihomo
  lib/mihomo/default.nix
  modules/nixos/mihomo/default.nix
  modules/nixos/mihomo/fakeIpExclude.key
  systems/x86_64-linux/d2550/default.nix
Due: nix, deadnix

chore: reduce mihomo and sing-box firewall scripts
  modules/nixos/mihomo/default.nix
  modules/nixos/sing-box/default.nix
Due: nix, deadnix

chore: auto update nix hash
  packages/zashboard/default.nix
Due: nix, deadnix

feat: add gonic
  lib/domains/default.nix
  modules/nixos/gonic/default.nix
Due: nix, deadnix

chore: remove useless script
  modules/nixos/sing-box/default.nix
Due: nix, deadnix

chore: add tproxy firewall function
  lib/sing-box/default.nix
  modules/nixos/mihomo/default.nix
  modules/nixos/sing-box/default.nix
Due: nix, deadnix

chore: add mihomo config
  lib/mihomo/default.nix
  modules/nixos/mihomo/default.nix
Due: nix, deadnix

feat: add musicdl
  modules/home/cli/download/default.nix
  nvfetcher.toml
  packages/musicdl/default.nix
Due: toml, nix, deadnix

chore: typo
  lib/sing-box/default.nix
Due: nix, deadnix

Path conditions:
  toml: any of: *.toml
  json: any of: *.json
  yaml: any of: *.{yaml,yml}
  nix: any of: *.nix
  deadnix: any of: *.nix
  python: any of: *.py
  lua: any of: *.lua
  fennel: any of: *.fnl
  markdown: any of: *.md
  sh: any of: *.sh
  go: any of: *.go
  elisp: any of: *.el
