Repository ourgal/snowfall: changes, and which lefthook commands are due for each by the changed paths.
All: toml, json, yaml, nix, deadnix, python, lua, fennel, markdown, sh, go, elisp

lefthook.yml:

---
output: false
pre-commit:
  commands:
    toml:
      glob: '*.toml'
      run: taplo fmt {staged_files}
      stage_fixed: true
    json:
      glob: '*.json'
      run: fixjson -w {staged_files}
      stage_fixed: true
    yaml:
      glob: '*.{yaml,yml}'
      run: yamlfix {staged_files}
      stage_fixed: true
    nix:
      glob: '*.nix'
      run: nixfmt {staged_files}
      stage_fixed: true
    deadnix:
      glob: '*.nix'
      run: deadnix -eq {staged_files}
      stage_fixed: true
    python:
      glob: '*.py'
      run: ruff check --fix {staged_files} && ruff format {staged_files}
      stage_fixed: true
    lua:
      glob: '*.lua'
      run: stylua {staged_files}
      stage_fixed: true
    fennel:
      glob: '*.fnl'
      run: fnlfmt --fix {staged_files}
      stage_fixed: true
    markdown:
      glob: '*.md'
      run: prettier --parser markdown --write {staged_files} && autocorrect --fix
        --quiet {staged_files}
      stage_fixed: true
    sh:
      glob: '*.sh'
      run: shfmt -s -w {staged_files}
      stage_fixed: true
    go:
      glob: '*.go'
      run: gofmt -w {staged_files}
      stage_fixed: true
    elisp:
      glob: '*.el'
      run: lisp-format -i -style=google {staged_files}
      stage_fixed: true
    keep-sorted:
      run: keep-sorted --mode fix {staged_files}
      stage_fixed: true
    whitespace:
      run: >
        whitespace-format --remove-trailing-whitespace
        --remove-trailing-empty-lines
        {staged_files} --exclude
        "(.gpg|.png|.jpg|.jpeg|.webp|.gif|.dat|.age|.mp3|.mp4|.mkv|.ttf|.ico|.xcf|.ogg)$"
      stage_fixed: true
    config-file-validator:
      run: validator {staged_files}
    gitleaks:
      run: gitleaks protect -v --staged
commit-msg:
  scripts:
    commitlint.sh:
      runner: bash

chore: auto update nix hash
  _sources/generated.json
  _sources/generated.nix
Due: json, nix, deadnix

chore: update taskwarrior hooks
  modules/home/cli/task/taskwarrior/better-recur/default.nix
  modules/home/cli/task/taskwarrior/default.nix
  modules/home/cli/task/taskwarrior/relative-recur/default.nix
  modules/home/cli/task/taskwarrior/timewarrior/default.nix
Due: nix, deadnix

fix: add qman buildInput
  packages/qman/default.nix
Due: nix, deadnix

chore: add lynx
  modules/home/cli/browser/default.nix
Due: nix, deadnix

chore: add lynx config
  modules/home/cli/browser/default.nix
  modules/home/cli/browser/lynx/config
  modules/home/cli/browser/lynx/default.nix
Due: nix, deadnix

chore: update hash
  packages/tach/Cargo.lock
Due: none

chore: add kindle udev rule
  modules/nixos/udev/default.nix
Due: nix, deadnix

chore: enable the support of crossfade of ashuffle
  modules/home/cli/audio/mpd/ashuffle/default.nix
Due: nix, deadnix

feat: add dela
  modules/home/cli/runner/default.nix
  modules/home/cli/runner/dela/default.nix
  nvfetcher.toml
  packages/dela/default.nix
Due: toml, nix, deadnix

chore: auto update nix hash
  _sources/dela-755779e0e6a84cd0760d950308b30ea6ec0a79a5/Cargo.lock
  _sources/generated.json
  _sources/generated.nix
Due: json, nix, deadnix

chore: auto update nix hash
  _sources/generated.json
  _sources/generated.nix
  _sources/templify-2.0.1/Cargo.lock
Due: json, nix, deadnix

chore: auto update nix hash
  _sources/dela-05dcd928277e4e08a3684890a251e33966b8f20e/Cargo.lock
  _sources/generated.json
  _sources/generated.nix
Due: json, nix, deadnix

chore: add taskwarrior-tui alias
  modules/home/cli/task/taskwarrior/default.nix
Due: nix, deadnix

fix: add switches value for sbsrf
  modules/home/desktop/system/sbsrf/default.nix
  packages/sbsrf-rime-data/default.nix
Due: nix, deadnix

fix: correct vim live grep keymap
  modules/home/cli/editor/vim/picker/fzf-vim/config.vim
Due: none
