Repository ourgal/snowfall: changes, and which lefthook commands are due for each by the changed paths.
All: toml, json, yaml, nix, deadnix, python, lua, fennel, markdown, sh, go, elisp

toml:
  run: taplo fmt {staged_files}
  stage_fixed: true

json:
  run: fixjson -w {staged_files}
  stage_fixed: true

yaml:
  run: yamlfix {staged_files}
  stage_fixed: true

nix:
  run: nixfmt {staged_files}
  stage_fixed: true

deadnix:
  run: deadnix -eq {staged_files}
  stage_fixed: true

python:
  run: ruff check --fix {staged_files} && ruff format {staged_files}
  stage_fixed: true

lua:
  run: stylua {staged_files}
  stage_fixed: true

fennel:
  run: fnlfmt --fix {staged_files}
  stage_fixed: true

markdown:
  run: prettier --parser markdown --write {staged_files} && autocorrect --fix --quiet {staged_files}
  stage_fixed: true

sh:
  run: shfmt -s -w {staged_files}
  stage_fixed: true

go:
  run: gofmt -w {staged_files}
  stage_fixed: true

elisp:
  run: lisp-format -i -style=google {staged_files}
  stage_fixed: true

chore: 🔧 move sbsrf overlay to module
  modules/home/desktop/system/sbsrf/default.nix
  overlays/fcitx5-rime/default.nix
Due: nix, deadnix

feat: ✨ add ninja
  modules/home/dev/c/default.nix
  modules/home/dev/cpp/default.nix
Due: nix, deadnix

docs: 📜 update waiting list
  README.org
  waiting.sql
Due: none

feat: ✨ add materialgram
  modules/home/desktop/chat/default.nix
Due: nix, deadnix

feat: ✨ add ayugram-desktop
  modules/home/desktop/chat/default.nix
Due: nix, deadnix

chore: 🔧 clean code
  flake.nix
Due: nix, deadnix

chore: 🔧 update fw config
  modules/home/cli/versionControl/git/batch/fw/default.nix
Due: nix, deadnix

feat: ✨ add emacs-notmuch
  modules/home/desktop/editor/doom-emacs/config/plugins/notmuch.el
  modules/home/desktop/editor/doom-emacs/default.nix
  modules/home/desktop/editor/doom-emacs/notmuch/default.nix
Due: nix, deadnix, elisp

chore: update nix mirrors
  flake.nix
  modules/nixos/common/nix/default.nix
Due: nix, deadnix

feat: add cloudflared
  lib/cloudflared/default.nix
  lib/cloudflared/id.key
  lib/domains/default.nix
  lib/domains/xyzDomain.key
  modules/home/cli/proxy/default.nix
  modules/nixos/cloudflared/default.nix
  modules/nixos/sops-nix/cloudflared/default.nix
  modules/nixos/vaultwarden/default.nix
  secrets/zxc/default.yaml
  systems/x86_64-linux/router/default.nix
Due: yaml, nix, deadnix

chore: 🔧 add a comment for fcitx5 config
  modules/home/desktop/system/sbsrf/default.nix
Due: nix, deadnix

feat: ✨ add termux from f-droid
  modules/home/cli/android/fdroidcl/default.nix
Due: nix, deadnix

chore: 🔧 update domain blacklist
  lib/domains/blacklist.key
Due: none

chore: 🔧 add termux ssh config
  modules/home/cli/ssh/default.nix
Due: nix, deadnix

chore: 🔧 add ssh public keys
  modules/nixos/user/default.nix
Due: nix, deadnix

chore: 🔧 add ssh host, mac and ip
  lib/ip/ip.key
  lib/ip/mac.key
  modules/home/cli/ssh/default.nix
  modules/nixos/dnsmasq/default.nix
Due: nix, deadnix

chore: proxy navidrome by cloudflared
  lib/cloudflared/default.nix
  lib/cloudflared/id.key
  modules/nixos/cloudflared/default.nix
  modules/nixos/navidrome/default.nix
  modules/nixos/sops-nix/cloudflared/default.nix
  modules/nixos/vaultwarden/default.nix
  secrets/zxc/default.yaml
Due: yaml, nix, deadnix

feat: ✨ add todo apps
  modules/home/cli/android/fdroidcl/default.nix
Due: nix, deadnix

fix: 🐛 merge caddy domains
  modules/nixos/navidrome/default.nix
Due: nix, deadnix

chore: 🔧 proxy jellyfin by cloudflared
  lib/cloudflared/id.key
  modules/nixos/cloudflared/default.nix
  modules/nixos/jellyfin/default.nix
  modules/nixos/sops-nix/cloudflared/default.nix
  secrets/zxc/default.yaml
Due: yaml, nix, deadnix

chore: 🔧 change system mirror
  flake.nix
  modules/nixos/common/nix/default.nix
Due: nix, deadnix

chore: 🔧 proxy miniflux by cloudflared
  lib/cloudflared/id.key
  modules/nixos/cloudflared/default.nix
  modules/nixos/miniflux/default.nix
  modules/nixos/sops-nix/cloudflared/default.nix
  secrets/zxc/default.yaml
Due: yaml, nix, deadnix

chore: 🔧 proxy anki-sync-server by cloudflared
  lib/cloudflared/id.key
  modules/nixos/anki-sync-server/default.nix
  modules/nixos/cloudflared/default.nix
  modules/nixos/sops-nix/cloudflared/default.nix
  secrets/zxc/default.yaml
Due: yaml, nix, deadnix

chore: 🔧 disable atuin server
  systems/x86_64-linux/brix/default.nix
Due: nix, deadnix

refactor: 🔨 move espanso config to module
  modules/home/desktop/system/espanso/default.nix
Due: nix, deadnix

feat: ✨ add ttyper
  modules/home/cli/typing/default.nix
Due: nix, deadnix

chore: 🔧 run lefthook jobs async
  lefthook.yml
Due: yaml

chore: 🔧 create a main lefthook config
  lefthook.yml
  modules/home/cli/versionControl/git/hook/default.nix
  modules/home/cli/versionControl/git/hook/lefthook/default.nix
Due: yaml, nix, deadnix

chore: use lefthook jobs run commit-msg hook
  modules/home/cli/versionControl/git/hook/lefthook/default.nix
Due: nix, deadnix

chore: link lefthook config
  lefthook.yml
Due: yaml

chore: enable shortcut
  modules/home/cli/file-manager/nnn/default.nix
Due: nix, deadnix

chore: update nnn plugins
  modules/home/cli/file-manager/nnn/default.nix
Due: nix, deadnix

chore: exclude lefthook yaml file
  modules/home/cli/versionControl/git/hook/lefthook/default.nix
Due: nix, deadnix

chore: remove xyz domains
  modules/nixos/anki-sync-server/default.nix
  modules/nixos/jellyfin/default.nix
  modules/nixos/miniflux/default.nix
  modules/nixos/navidrome/default.nix
  modules/nixos/vaultwarden/default.nix
Due: nix, deadnix

chore: 🧹 disable immich server
  systems/x86_64-linux/brix/default.nix
Due: nix, deadnix

chore: 🧹 remove backup apps from fdroidcl
  modules/home/cli/android/fdroidcl/default.nix
Due: nix, deadnix

chore: 🧹 disable atuin
  modules/home/cli/history/default.nix
Due: nix, deadnix

chore: enable latex
  modules/home/dev/default.nix
  modules/home/dev/latex/texlive/default.nix
Due: nix, deadnix

feat: ✨ add mbake
  modules/home/dev/default.nix
  nvfetcher.toml
  packages/mbake/default.nix
Due: toml, nix, deadnix

Path conditions:
  toml: any of: *.toml
  json: any of: *.json
  yaml: any of: *.{yaml,yml}
  nix: any of: *.nix
  deadnix: any of: *.nix
  python: any of: *.py
  lua: any of: *.lua
  fennel: any of: *.fnl
  markdown: any of: *.md
  sh: any of: *.sh
  go: any of: *.go
  elisp: any of: *.el
