Repository ourgal/snowfall: changes, and which lefthook commands are due for each by the changed paths.
All: toml, json, yaml, nix, deadnix, python, lua, fennel, markdown, sh, go, elisp

lefthook.yml:

---
output: false
pre-commit:
  commands:
    toml:
      glob: '*.toml'
      run: taplo fmt {staged_files}
      stage_fixed: true
    json:
      glob: '*.json'
      run: fixjson -w {staged_files}
      stage_fixed: true
    yaml:
      glob: '*.{yaml,yml}'
      run: yamlfix {staged_files}
      stage_fixed: true
    nix:
      glob: '*.nix'
      run: nixfmt {staged_files}
      stage_fixed: true
    deadnix:
      glob: '*.nix'
      run: deadnix -eq {staged_files}
      stage_fixed: true
    python:
      glob: '*.py'
      run: ruff check --fix {staged_files} && ruff format {staged_files}
      stage_fixed: true
    lua:
      glob: '*.lua'
      run: stylua {staged_files}
      stage_fixed: true
    fennel:
      glob: '*.fnl'
      run: fnlfmt --fix {staged_files}
      stage_fixed: true
    markdown:
      glob: '*.md'
      run: prettier --parser markdown --write {staged_files} && autocorrect --fix
        --quiet {staged_files}
      stage_fixed: true
    sh:
      glob: '*.sh'
      run: shfmt -s -w {staged_files}
      stage_fixed: true
    go:
      glob: '*.go'
      run: gofmt -w {staged_files}
      stage_fixed: true
    elisp:
      glob: '*.el'
      run: lisp-format -i -style=google {staged_files}
      stage_fixed: true
    keep-sorted:
      run: keep-sorted --mode fix {staged_files}
      stage_fixed: true
    whitespace:
      run: >
        whitespace-format --remove-trailing-whitespace
        --remove-trailing-empty-lines
        {staged_files} --exclude
        "(.gpg|.png|.jpg|.jpeg|.webp|.gif|.dat|.age|.mp3|.mp4|.mkv|.ttf|.ico|.xcf|.ogg)$"
      stage_fixed: true
    config-file-validator:
      run: validator {staged_files}
    gitleaks:
      run: gitleaks protect -v --staged
commit-msg:
  scripts:
    commitlint.sh:
      runner: bash

chore: add navi snippet
  modules/home/cli/snippet/navi/my_cheats/utils.cheat
Due: none

chore: enable https for jellyfin
  modules/nixos/jellyfin/default.nix
Due: nix, deadnix

chore: enable https for kavita
  modules/nixos/kavita/default.nix
Due: nix, deadnix

chore: enable home syncthing
  modules/home/cli/share/syncthing/default.nix
Due: nix, deadnix

chore: change trackma config
  modules/home/cli/anime/trackma/default.nix
Due: nix, deadnix

chore: disable nixos syncthing
  systems/x86_64-linux/home/default.nix
Due: nix, deadnix

chore: add d2550 ip
  lib/ip/default.nix
Due: nix, deadnix

chore: add tmpfiles option to home module
  lib/module/default.nix
  modules/home/cli/default.nix
  modules/home/cli/download/eget/default.nix
  modules/home/cli/editor/vim/default.nix
  modules/home/cli/note/hledger/default.nix
  modules/home/cli/shell/fish/default.nix
  modules/home/dev/nodejs/default.nix
Due: nix, deadnix

feat: add d2550 host
  lib/settings/default.nix
  modules/nixos/boot/grub/default.nix
  modules/nixos/disko/default.nix
  systems/x86_64-linux/d2550/default.nix
Due: nix, deadnix

chore: add sessionPath to home module
  lib/module/default.nix
  modules/home/cli/shell/fish/default.nix
  modules/home/desktop/editor/emacs/default.nix
  modules/home/dev/dotnet/default.nix
  modules/home/dev/nodejs/default.nix
Due: nix, deadnix

chore: add temp-hosts
  modules/nixos/temp-hosts/default.nix
  systems/x86_64-linux/home/default.nix
Due: nix, deadnix

chore: enable https for navidrome
  modules/nixos/navidrome/default.nix
Due: nix, deadnix

chore: format nix code with --strict
  lefthook.yml
  modules/home/cli/editor/helix/default.nix
  modules/home/cli/file-manager/chezmoi/config/dot_vim/coc-settings.json
  treefmt.toml
Due: toml, json, yaml, nix, deadnix

chore: enable nixos syncthing
  lib/syncthing/default.nix
  modules/home/cli/share/syncthing/default.nix
  modules/nixos/syncthing/default.nix
  systems/x86_64-linux/home/default.nix
Due: nix, deadnix

fix: grant syncthing folder premission
  modules/nixos/jellyfin/default.nix
  modules/nixos/kavita/default.nix
  modules/nixos/navidrome/default.nix
Due: nix, deadnix

revert: remove isd
  modules/home/cli/system/default.nix
  nvfetcher.toml
  packages/isd/default.nix
Due: toml, nix, deadnix

chore: auto update nix hash
  _sources/generated.json
  _sources/generated.nix
Due: json, nix, deadnix

chore: add mbr and uefi
  justfile
  lib/settings/default.nix
  modules/nixos/disko/default.nix
  systems/x86_64-linux/nixos-mbr/default.nix
  systems/x86_64-linux/nixos-uefi/default.nix
Due: nix, deadnix

chore: replace hormonia domain with ip
  modules/nixos/common/nix/default.nix
Due: nix, deadnix
