Repository ourgal/snowfall: changes, and which lefthook commands are due for each by the changed paths.
All: toml, json, yaml, nix, deadnix, python, lua, fennel, markdown, sh, go, elisp

toml:
  run: taplo fmt {staged_files}
  stage_fixed: true

json:
  run: fixjson -w {staged_files}
  stage_fixed: true

yaml:
  run: yamlfix {staged_files}
  stage_fixed: true

nix:
  run: nixfmt {staged_files}
  stage_fixed: true

deadnix:
  run: deadnix -eq {staged_files}
  stage_fixed: true

python:
  run: ruff check --fix {staged_files} && ruff format {staged_files}
  stage_fixed: true

lua:
  run: stylua {staged_files}
  stage_fixed: true

fennel:
  run: fnlfmt --fix {staged_files}
  stage_fixed: true

markdown:
  run: prettier --parser markdown --write {staged_files} && autocorrect --fix --quiet {staged_files}
  stage_fixed: true

sh:
  run: shfmt -s -w {staged_files}
  stage_fixed: true

go:
  run: gofmt -w {staged_files}
  stage_fixed: true

elisp:
  run: lisp-format -i -style=google {staged_files}
  stage_fixed: true

feat: add tmux-gentrify
  modules/home/cli/multiplexer/tmux/default.nix
  modules/home/cli/multiplexer/tmux/gentrify/default.nix
  nvfetcher.toml
  packages/tmux-gentrify/default.nix
Due: toml, nix, deadnix

chore: auto update nix hash
  _sources/generated.json
  _sources/generated.nix
  _sources/qlty-v0.534.0/Cargo.lock
Due: json, nix, deadnix

chore: update hash
  packages/qlty/Cargo.lock
Due: none

refactor: use mkRustSource for qlty
  lib/module/default.nix
  packages/qlty/Cargo.lock
  packages/qlty/default.nix
Due: nix, deadnix

chore: fetch tach Cargo.lock
  nvfetcher.toml
Due: toml

chore: auto update nix hash
  _sources/generated.json
  _sources/generated.nix
  _sources/tach-v0.29.0/Cargo.lock
Due: json, nix, deadnix

refactor: replace tach cargo lock with nvfetcher
  packages/tach/Cargo.lock
  packages/tach/default.nix
Due: nix, deadnix

chore: update domain blacklist
  lib/domains/blacklist.key
Due: none

chore: update waiting list
  waiting.sql
Due: none

feat: add trre
  modules/home/cli/utils/sed/default.nix
  nvfetcher.toml
  packages/trre/default.nix
Due: toml, nix, deadnix

chore: auto update nix hash
  _sources/generated.json
  _sources/generated.nix
Due: json, nix, deadnix

feat: add files-sort
  modules/home/cli/utils/mv/default.nix
  nvfetcher.toml
  packages/files-sort/default.nix
Due: toml, nix, deadnix

docs: update waiting list
  README.org
  waiting.sql
Due: none

feat: add pv
  modules/home/cli/fun/default.nix
Due: nix, deadnix

feat: add gofumpt
  modules/home/dev/go/default.nix
Due: nix, deadnix

feat: add xurls
  modules/home/dev/network/default.nix
Due: nix, deadnix

chore: auto update nix hash
  _sources/cdo-8c73942e6d22f7c60a8c4e54b1cdf5153175fb52/Cargo.lock
  _sources/generated.json
  _sources/generated.nix
  _sources/git-grab-3.0.0/Cargo.lock
  _sources/loop-209927c4bd02cc801c336353d8fcea32dfad1fd6/Cargo.lock
  _sources/pio-0.4.0/Cargo.lock
  _sources/sprite-dicing-v2.1.0/crates/Cargo.lock
Due: json, nix, deadnix

chore: remove loop package
  modules/home/cli/utils/default.nix
  nvfetcher.toml
Due: toml, nix, deadnix

chore: change nyaa package to nixpkgs
  README.org
  modules/home/cli/download/nyaa/default.nix
  waiting.sql
Due: nix, deadnix

chore: update nixpkgs font packages
  lib/fonts/default.nix
  overlays/nerdfonts/default.nix
Due: nix, deadnix

chore: remove webtorrent-cli
  packages/mpv-btfs-stream/default.nix
  packages/mpv-webtorrent-hook/default.nix
Due: nix, deadnix

fix: use rustPlatform fetchCargoVendor
  packages/posting/default.nix
Due: nix, deadnix

chore: use posting of nixpkgs
  README.org
  modules/home/dev/web/default.nix
  waiting.sql
Due: nix, deadnix

feat: add id3
  README.org
  modules/home/cli/audio/metadata/default.nix
  waiting.sql
Due: nix, deadnix

feat: add nix-editor
  README.org
  modules/home/cli/nix/default.nix
  nvfetcher.toml
  packages/nix-editor/default.nix
  waiting.sql
Due: toml, nix, deadnix

chore: auto update nix hash
  _sources/generated.json
  _sources/generated.nix
  _sources/loop-209927c4bd02cc801c336353d8fcea32dfad1fd6/Cargo.lock
  _sources/nix-editor-0.3.0/Cargo.lock
Due: json, nix, deadnix

chore: upgrade to gimp3
  modules/home/desktop/image/editor/default.nix
Due: nix, deadnix

chore: remove loop package files
  packages/loop/default.nix
Due: nix, deadnix

chore: remove caddy-nix
  flake.lock
  flake.nix
  modules/nixos/caddy/default.nix
  nvfetcher.toml
Due: toml, nix, deadnix

feat: add jumper
  README.org
  modules/home/cli/utils/cd/default.nix
  nvfetcher.toml
  packages/jumper/default.nix
  waiting.sql
Due: toml, nix, deadnix

chore: ssh github over https
  modules/home/cli/ssh/default.nix
Due: nix, deadnix

feat: add proxytunnel
  modules/home/cli/proxy/default.nix
  nvfetcher.toml
  packages/proxytunnel/default.nix
Due: toml, nix, deadnix

feat: add nixpkgs-track
  README.org
  modules/home/cli/nix/default.nix
  waiting.sql
Due: nix, deadnix

Path conditions:
  toml: any of: *.toml
  json: any of: *.json
  yaml: any of: *.{yaml,yml}
  nix: any of: *.nix
  deadnix: any of: *.nix
  python: any of: *.py
  lua: any of: *.lua
  fennel: any of: *.fnl
  markdown: any of: *.md
  sh: any of: *.sh
  go: any of: *.go
  elisp: any of: *.el
