Repository ourgal/snowfall: changes, and which lefthook commands are due for each by the changed paths.
All: toml, json, yaml, nix, deadnix, python, lua, fennel, markdown, sh, go, elisp

toml:
  run: taplo fmt {staged_files}
  stage_fixed: true

json:
  run: fixjson -w {staged_files}
  stage_fixed: true

yaml:
  run: yamlfix {staged_files}
  stage_fixed: true

nix:
  run: nixfmt {staged_files}
  stage_fixed: true

deadnix:
  run: deadnix -eq {staged_files}
  stage_fixed: true

python:
  run: ruff check --fix {staged_files} && ruff format {staged_files}
  stage_fixed: true

lua:
  run: stylua {staged_files}
  stage_fixed: true

fennel:
  run: fnlfmt --fix {staged_files}
  stage_fixed: true

markdown:
  run: prettier --parser markdown --write {staged_files} && autocorrect --fix --quiet {staged_files}
  stage_fixed: true

sh:
  run: shfmt -s -w {staged_files}
  stage_fixed: true

go:
  run: gofmt -w {staged_files}
  stage_fixed: true

elisp:
  run: lisp-format -i -style=google {staged_files}
  stage_fixed: true

chore: auto update nix hash
  _sources/generated.json
  _sources/generated.nix
  _sources/rustywatch-v0.2.11/Cargo.lock
Due: json, nix, deadnix

chore: auto update nix hash
  _sources/generated.json
  _sources/generated.nix
Due: json, nix, deadnix

feat: add browserpass
  modules/home/cli/encrypt/gopass/browserpass/default.nix
  modules/home/cli/encrypt/gopass/default.nix
Due: nix, deadnix

chore: update hash
  packages/tach/Cargo.lock
Due: none

feat: add pypy
  modules/home/dev/python/default.nix
Due: nix, deadnix

feat: add ccsum
  modules/home/cli/system/default.nix
  nvfetcher.toml
  packages/ccsum/default.nix
Due: toml, nix, deadnix

chore: auto update nix hash
  _sources/ccsum-v0.1.0/Cargo.lock
  _sources/generated.json
  _sources/generated.nix
Due: json, nix, deadnix

chore: auto update nix hash
  _sources/cdo-d1861533ec79780d9fe3d0e7d5d999723a2ae8ae/Cargo.lock
  _sources/generated.json
  _sources/generated.nix
Due: json, nix, deadnix

chore: remove jellyfin-mpv-shim nixpkgs and confs
  modules/home/desktop/video/jellyfin-mpv-shim/default.nix
Due: nix, deadnix

chore: move lab to gitlab module
  modules/home/cli/versionControl/default.nix
  modules/home/cli/versionControl/gitlab/default.nix
Due: nix, deadnix

chore: add nh home swtich args
  Makefile
Due: none

chore: disable coc-tabnine
  modules/home/cli/editor/vim/lsp/coc-nvim/default.nix
Due: nix, deadnix

chore: auto update nix hash
  _sources/generated.json
  _sources/generated.nix
  _sources/hledger-fmt-v0.2.5/Cargo.lock
Due: json, nix, deadnix

chore: change dunst config
  modules/home/desktop/system/dunst/default.nix
Due: nix, deadnix

chore: disable envfs for surface
  systems/x86_64-linux/surface/default.nix
Due: nix, deadnix

chore: start jellyfin-mpv-shim after gui
  modules/home/desktop/video/jellyfin-mpv-shim/default.nix
Due: nix, deadnix

chore: update flake
  flake.lock
Due: none

feat: add lab
  modules/home/dev/default.nix
  nvfetcher.toml
  packages/lab/default.nix
Due: toml, nix, deadnix

Path conditions:
  toml: any of: *.toml
  json: any of: *.json
  yaml: any of: *.{yaml,yml}
  nix: any of: *.nix
  deadnix: any of: *.nix
  python: any of: *.py
  lua: any of: *.lua
  fennel: any of: *.fnl
  markdown: any of: *.md
  sh: any of: *.sh
  go: any of: *.go
  elisp: any of: *.el
