Repository ourgal/snowfall: changes, and which lefthook commands are due for each by the changed paths.
All: toml, json, yaml, nix, deadnix, python, lua, fennel, markdown, sh, go, elisp

toml:
  run: taplo fmt {staged_files}
  stage_fixed: true

json:
  run: fixjson -w {staged_files}
  stage_fixed: true

yaml:
  run: yamlfix {staged_files}
  stage_fixed: true

nix:
  run: nixfmt {staged_files}
  stage_fixed: true

deadnix:
  run: deadnix -eq {staged_files}
  stage_fixed: true

python:
  run: ruff check --fix {staged_files} && ruff format {staged_files}
  stage_fixed: true

lua:
  run: stylua {staged_files}
  stage_fixed: true

fennel:
  run: fnlfmt --fix {staged_files}
  stage_fixed: true

markdown:
  run: prettier --parser markdown --write {staged_files} && autocorrect --fix --quiet {staged_files}
  stage_fixed: true

sh:
  run: shfmt -s -w {staged_files}
  stage_fixed: true

go:
  run: gofmt -w {staged_files}
  stage_fixed: true

elisp:
  run: lisp-format -i -style=google {staged_files}
  stage_fixed: true

chore: auto update nix hash
  _sources/generated.json
  _sources/generated.nix
  _sources/simple-completion-language-server-40a6157a3ae0c7bd17730a557ad8ecc8b43455e6/Cargo.lock
Due: json, nix, deadnix

chore: auto update nix hash
  _sources/generated.json
  _sources/generated.nix
Due: json, nix, deadnix

chore: disable envfs
  systems/x86_64-linux/air/default.nix
  systems/x86_64-linux/home/default.nix
Due: nix, deadnix

chore: auto update nix hash
  _sources/generated.json
  _sources/generated.nix
  _sources/simple-completion-language-server-632fbef52823bb902dda36dedc7c6f05cfaa0ade/Cargo.lock
Due: json, nix, deadnix

chore: update hash
  packages/tach/Cargo.lock
Due: none

chore: add qutebrowser bookmarks
  modules/home/desktop/browser/qutebrowser/quickmarks.key
Due: none

chore: disable lrzsz
  modules/nixos/common/ssh/default.nix
  modules/nixos/common/ssh/lrzsz/default.nix
Due: nix, deadnix

feat: add rx
  modules/home/dev/regex/default.nix
  nvfetcher.toml
  packages/rx/default.nix
Due: toml, nix, deadnix

chore: auto update nix hash
  _sources/generated.json
  _sources/generated.nix
  _sources/mdsf-v0.5.1/Cargo.lock
Due: json, nix, deadnix

chore: update caddy plugin hash
  modules/nixos/caddy/default.nix
Due: nix, deadnix

chore: disable vim-tmux-clipboard
  modules/home/cli/editor/vim/integration/default.nix
Due: nix, deadnix

chore: link taskwarrior db
  modules/home/cli/share/syncthing/default.nix
Due: nix, deadnix

chore: update nixpkgs
  flake.lock
Due: none

chore: sync timewarrior data
  lib/syncthing/default.nix
  modules/home/cli/share/syncthing/default.nix
Due: nix, deadnix

chore: update .envrc
  .envrc
Due: none

chore: pull github automatically
  .envrc
Due: none

Path conditions:
  toml: any of: *.toml
  json: any of: *.json
  yaml: any of: *.{yaml,yml}
  nix: any of: *.nix
  deadnix: any of: *.nix
  python: any of: *.py
  lua: any of: *.lua
  fennel: any of: *.fnl
  markdown: any of: *.md
  sh: any of: *.sh
  go: any of: *.go
  elisp: any of: *.el
