Repository ourgal/snowfall: changes, and which lefthook commands are due for each by the changed paths.
All: toml, json, yaml, nix, deadnix, python, lua, fennel, markdown, sh, go, elisp

lefthook.yml:

---
output: false
pre-commit:
  commands:
    toml:
      glob: '*.toml'
      run: taplo fmt {staged_files}
      stage_fixed: true
    json:
      glob: '*.json'
      run: fixjson -w {staged_files}
      stage_fixed: true
    yaml:
      glob: '*.{yaml,yml}'
      run: yamlfix {staged_files}
      stage_fixed: true
    nix:
      glob: '*.nix'
      run: nixfmt {staged_files}
      stage_fixed: true
    deadnix:
      glob: '*.nix'
      run: deadnix -eq {staged_files}
      stage_fixed: true
    python:
      glob: '*.py'
      run: ruff check --fix {staged_files} && ruff format {staged_files}
      stage_fixed: true
    lua:
      glob: '*.lua'
      run: stylua {staged_files}
      stage_fixed: true
    fennel:
      glob: '*.fnl'
      run: fnlfmt --fix {staged_files}
      stage_fixed: true
    markdown:
      glob: '*.md'
      run: prettier --parser markdown --write {staged_files} && autocorrect --fix
        --quiet {staged_files}
      stage_fixed: true
    sh:
      glob: '*.sh'
      run: shfmt -s -w {staged_files}
      stage_fixed: true
    go:
      glob: '*.go'
      run: gofmt -w {staged_files}
      stage_fixed: true
    elisp:
      glob: '*.el'
      run: lisp-format -i -style=google {staged_files}
      stage_fixed: true
    keep-sorted:
      run: keep-sorted --mode fix {staged_files}
      stage_fixed: true
    whitespace:
      run: >
        whitespace-format --remove-trailing-whitespace
        --remove-trailing-empty-lines
        {staged_files} --exclude
        "(.gpg|.png|.jpg|.jpeg|.webp|.gif|.dat|.age|.mp3|.mp4|.mkv|.ttf|.ico|.xcf|.ogg)$"
      stage_fixed: true
    config-file-validator:
      run: validator {staged_files}
    gitleaks:
      run: gitleaks protect -v --staged
commit-msg:
  scripts:
    commitlint.sh:
      runner: bash

feat: add vim-bookmarks
  modules/home/cli/editor/vim/annotate/default.nix
  modules/home/cli/editor/vim/annotate/vim-bookmarks/config.vim
  modules/home/cli/editor/vim/annotate/vim-bookmarks/default.nix
  modules/home/cli/editor/vim/default.nix
Due: nix, deadnix

chore: disable vim-indent-guides
  modules/home/cli/editor/vim/ui/default.nix
Due: nix, deadnix

chore: change doom emacs font
  modules/home/desktop/editor/doom-emacs/config/config.el
Due: elisp

chore: truncate mode-line filename in doom emacs
  modules/home/desktop/editor/doom-emacs/config/config.el
Due: elisp

chore: change doom emacs theme
  modules/home/desktop/editor/doom-emacs/config/config.el
Due: elisp

feat: add dotenv-mode
  modules/home/desktop/editor/doom-emacs/config/config.el
  modules/home/desktop/editor/doom-emacs/config/plugins/dotenv-mode.el
  modules/home/desktop/editor/doom-emacs/default.nix
  modules/home/desktop/editor/doom-emacs/dotenv-mode/default.nix
Due: nix, deadnix, elisp

chore: change vim theme to tokyonight
  modules/home/cli/editor/vim/option.vim
  modules/home/cli/editor/vim/theme/default.nix
  modules/home/cli/editor/vim/theme/tokyonight-vim/config.vim
  modules/home/cli/editor/vim/theme/tokyonight-vim/default.nix
  modules/home/cli/editor/vim/ui/lightline-vim/config.vim
  modules/home/cli/file-manager/chezmoi/config/dot_vim/options.vim
Due: nix, deadnix

chore: set gdefault to vim
  modules/home/cli/editor/vim/option.vim
Due: none

chore: add evil config to doom emacs
  modules/home/desktop/editor/doom-emacs/config/config.el
  modules/home/desktop/editor/doom-emacs/config/plugins/evil.el
Due: elisp

chore: add condition to subs
  lib/subs/default.nix
Due: nix, deadnix

chore: replace npmDepsHash with npmDeps and importNpmLock
  packages/downdoc/default.nix
  packages/eleventy/default.nix
  packages/git-stats/default.nix
  packages/magit-stats/default.nix
Due: nix, deadnix

chore: set some subs to select type
  lib/mihomo/default.nix
  lib/sing-box/default.nix
  modules/nixos/mihomo/default.nix
Due: nix, deadnix

chore: enable more free subs
  lib/subs/default.nix
Due: nix, deadnix

chore: change doom emacs modeline buffer name style
  modules/home/desktop/editor/doom-emacs/config/config.el
Due: elisp

feat: add cyberchef
  lib/domains/default.nix
  modules/nixos/cyberchef/default.nix
  systems/x86_64-linux/brix/default.nix
Due: nix, deadnix

feat: add dokuwiki
  lib/domains/default.nix
  modules/nixos/dokuwiki/default.nix
  systems/x86_64-linux/brix/default.nix
Due: nix, deadnix

chore: add encode to caddy config
  lib/caddy/default.nix
  modules/nixos/ariang/default.nix
  modules/nixos/cyberchef/default.nix
  modules/nixos/metacubexd/default.nix
  modules/nixos/yacd/default.nix
  modules/nixos/zashboard/default.nix
Due: nix, deadnix

feat: add tiddlywiki
  lib/domains/default.nix
  modules/nixos/tiddlywiki/default.nix
  systems/x86_64-linux/brix/default.nix
Due: nix, deadnix

chore: disable kavita
  systems/x86_64-linux/brix/default.nix
Due: nix, deadnix

feat: add calibre-web
  lib/domains/default.nix
  modules/nixos/calibre-web/default.nix
Due: nix, deadnix

feat: add komga
  lib/domains/default.nix
  modules/nixos/komga/default.nix
  systems/x86_64-linux/brix/default.nix
Due: nix, deadnix

feat: add floorp
  modules/home/desktop/browser/floorp/default.nix
Due: nix, deadnix

chore: add root ssh keys to sops-nix
  .sops.yaml
  modules/nixos/sops-nix/ssh/default.nix
  secrets/zxc/default.yaml
  systems/x86_64-linux/air/default.nix
  systems/x86_64-linux/brix/default.nix
  systems/x86_64-linux/d2550/default.nix
  systems/x86_64-linux/home/default.nix
Due: yaml, nix, deadnix

feat: add postgresqlBackup
  modules/nixos/atuin/default.nix
  modules/nixos/miniflux/default.nix
  modules/nixos/postgresqlBackup/default.nix
  systems/x86_64-linux/brix/default.nix
Due: nix, deadnix

chore: disable some subs
  lib/subs/default.nix
Due: nix, deadnix

chore: remove sub
  lib/sing-box/default.nix
  modules/nixos/mihomo/default.nix
  modules/nixos/sing-box/default.nix
  modules/nixos/sops-nix/router/default.nix
  secrets/zxc/default.yaml
Due: yaml, nix, deadnix

feat: add borgmatic
  modules/nixos/anki-sync-server/default.nix
  modules/nixos/borgmatic/default.nix
  modules/nixos/borgmatic/passphrase.key
  modules/nixos/jellyfin/default.nix
  modules/nixos/navidrome/default.nix
  modules/nixos/soft-serve/default.nix
  modules/nixos/sonarr/default.nix
  modules/nixos/vaultwarden/default.nix
Due: nix, deadnix

chore: repalce hardcode domain with var
  lib/caddy/default.nix
  modules/home/cli/rss/newsboat/default.nix
Due: nix, deadnix

feat: add podman
  lib/podman/default.nix
  modules/nixos/caddy/default.nix
  modules/nixos/podman/alist/default.nix
  modules/nixos/podman/default.nix
  systems/x86_64-linux/brix/default.nix
Due: nix, deadnix

chore: add podman backend to docker
  modules/nixos/docker/default.nix
Due: nix, deadnix

chore: add docker bridge rule to firehol
  modules/nixos/firehol/default.nix
Due: nix, deadnix

chore: auto update nix hash
  _sources/cdo-7020a8868651fdf8e8f775725e6e7f4fd4ea9b21/Cargo.lock
  _sources/dela-496520b07ac250fd6e9ba0ff5b1ad872bb7687cc/Cargo.lock
  _sources/generated.json
  _sources/generated.nix
  _sources/simple-completion-language-server-246b5724543c096d6b5f87809e2991195385f29a/Cargo.lock
Due: json, nix, deadnix

fix: empty atuin docker src
  modules/nixos/docker/atuin/default.nix
Due: nix, deadnix

fix: add quotes for mkIf
  modules/nixos/syncthing/default.nix
Due: nix, deadnix

chore: update hash
  packages/bestsub/default.nix
  packages/cmdx/default.nix
  packages/qman/default.nix
  packages/tach/Cargo.lock
Due: nix, deadnix

chore: update qutebrowser bookmarks
  modules/home/desktop/browser/qutebrowser/quickmarks.key
Due: none

chore: use default docker version
  systems/x86_64-linux/brix/default.nix
Due: nix, deadnix

chore: disable some brix services
  systems/x86_64-linux/brix/default.nix
Due: nix, deadnix
