Repository ourgal/snowfall: changes, and which lefthook commands are due for each by the changed paths.
All: toml, json, yaml, nix, deadnix, python, lua, fennel, markdown, sh, go, elisp

toml:
  run: taplo fmt {staged_files}
  stage_fixed: true

json:
  run: fixjson -w {staged_files}
  stage_fixed: true

yaml:
  run: yamlfix {staged_files}
  stage_fixed: true

nix:
  run: nixfmt {staged_files}
  stage_fixed: true

deadnix:
  run: deadnix -eq {staged_files}
  stage_fixed: true

python:
  run: ruff check --fix {staged_files} && ruff format {staged_files}
  stage_fixed: true

lua:
  run: stylua {staged_files}
  stage_fixed: true

fennel:
  run: fnlfmt --fix {staged_files}
  stage_fixed: true

markdown:
  run: prettier --parser markdown --write {staged_files} && autocorrect --fix --quiet {staged_files}
  stage_fixed: true

sh:
  run: shfmt -s -w {staged_files}
  stage_fixed: true

go:
  run: gofmt -w {staged_files}
  stage_fixed: true

elisp:
  run: lisp-format -i -style=google {staged_files}
  stage_fixed: true

chore: open gitcommit in right split
  modules/home/cli/file-manager/chezmoi/config/dot_vim/ftplugin/gitcommit.vim
  modules/home/cli/file-manager/chezmoi/config/dot_vim/ftplugin/help.vim
Due: none

chore: disable vim ghost text
  modules/home/cli/editor/vim/integration/default.nix
Due: nix, deadnix

feat: add vim-markdown
  modules/home/cli/editor/vim/lang/markdown/default.nix
  modules/home/cli/editor/vim/lang/markdown/vim-markdown/config.vim
  modules/home/cli/editor/vim/lang/markdown/vim-markdown/default.nix
Due: nix, deadnix

feat: add vim-markdown-toc
  modules/home/cli/editor/vim/lang/markdown/default.nix
  modules/home/cli/editor/vim/lang/markdown/vim-markdown-toc/default.nix
Due: nix, deadnix

feat: add vim-dadbod-completion
  modules/home/cli/editor/vim/lang/sql/default.nix
  modules/home/cli/editor/vim/lang/sql/vim-dadbod-completion/default.nix
Due: nix, deadnix

feat: add tagbar vim plugin
  .gitignore
  modules/home/cli/editor/vim/ui/default.nix
  modules/home/cli/editor/vim/ui/tagbar/config.vim
  modules/home/cli/editor/vim/ui/tagbar/default.nix
Due: nix, deadnix

feat: add neoformat vim plugin
  modules/home/cli/editor/vim/default.nix
  modules/home/cli/editor/vim/format/default.nix
  modules/home/cli/editor/vim/format/neoformat/config.vim
  modules/home/cli/editor/vim/format/neoformat/default.nix
  modules/home/cli/file-manager/chezmoi/config/dot_vim/coc-settings.json
Due: json, nix, deadnix

fix: remove markdown completion lag
  modules/home/cli/editor/vim/lang/markdown/vim-markdown/config.vim
  modules/home/cli/editor/vim/lang/markdown/vim-markdown/default.nix
  modules/home/cli/editor/vim/lsp/coc-nvim/config.vim
Due: nix, deadnix

feat: add markdown-preview-nvim
  modules/home/cli/editor/vim/lang/markdown/default.nix
  modules/home/cli/editor/vim/lang/markdown/markdown-preview-nvim/default.nix
Due: nix, deadnix

feat: add vim-gutentags
  modules/home/cli/editor/vim/ui/default.nix
  modules/home/cli/editor/vim/ui/vim-gutentags/default.nix
Due: nix, deadnix

fix: remove redundant code
  _sources/generated.nix
Due: nix, deadnix

chore: disable sonicradio
  modules/home/cli/audio/bak/default.nix
  modules/home/cli/audio/default.nix
Due: nix, deadnix

chore: auto update nix hash
  _sources/generated.json
  _sources/generated.nix
Due: json, nix, deadnix

chore: auto update nix hash
  _sources/generated.json
  _sources/generated.nix
  _sources/gw-v0.4.1/Cargo.lock
Due: json, nix, deadnix

chore: update hash
  packages/qman/default.nix
  packages/tach/Cargo.lock
Due: nix, deadnix

chore: replace neoformat with coc format
  modules/home/cli/editor/vim/format/neoformat/config.vim
  modules/home/cli/editor/vim/format/neoformat/default.nix
  modules/home/cli/file-manager/chezmoi/config/dot_vim/coc-settings.json
Due: json, nix, deadnix

chore: disable kitty cursor trail
  modules/home/desktop/terminal/kitty/default.nix
Due: nix, deadnix

chore: change default terminal to kitty
  modules/home/user/default.nix
Due: nix, deadnix

chore: replace fish_add_path with nix.sessionPath
  modules/home/cli/shell/fish/default.nix
  modules/home/desktop/editor/emacs/default.nix
Due: nix, deadnix

chore: remove ghostty flake
  flake.lock
  flake.nix
  modules/home/desktop/terminal/ghostty/config
  modules/home/desktop/terminal/ghostty/default.nix
Due: nix, deadnix

feat: add sqls
  modules/home/dev/mysql/default.nix
  modules/home/dev/postgres/default.nix
  modules/home/dev/sqlite/default.nix
Due: nix, deadnix

chore: prefer xdg directories
  modules/home/cli/nix/settings/default.nix
Due: nix, deadnix

Path conditions:
  toml: any of: *.toml
  json: any of: *.json
  yaml: any of: *.{yaml,yml}
  nix: any of: *.nix
  deadnix: any of: *.nix
  python: any of: *.py
  lua: any of: *.lua
  fennel: any of: *.fnl
  markdown: any of: *.md
  sh: any of: *.sh
  go: any of: *.go
  elisp: any of: *.el
