Repository ourgal/snowfall: changes, and which lefthook commands are due for each by the changed paths.
All: toml, json, yaml, nix, deadnix, python, lua, fennel, markdown, sh, go, elisp

lefthook.yml:

---
output: false
pre-commit:
  commands:
    toml:
      glob: '*.toml'
      run: taplo fmt {staged_files}
      stage_fixed: true
    json:
      glob: '*.json'
      run: fixjson -w {staged_files}
      stage_fixed: true
    yaml:
      glob: '*.{yaml,yml}'
      run: yamlfix {staged_files}
      stage_fixed: true
    nix:
      glob: '*.nix'
      run: nixfmt {staged_files}
      stage_fixed: true
    deadnix:
      glob: '*.nix'
      run: deadnix -eq {staged_files}
      stage_fixed: true
    python:
      glob: '*.py'
      run: ruff check --fix {staged_files} && ruff format {staged_files}
      stage_fixed: true
    lua:
      glob: '*.lua'
      run: stylua {staged_files}
      stage_fixed: true
    fennel:
      glob: '*.fnl'
      run: fnlfmt --fix {staged_files}
      stage_fixed: true
    markdown:
      glob: '*.md'
      run: prettier --parser markdown --write {staged_files} && autocorrect --fix
        --quiet {staged_files}
      stage_fixed: true
    sh:
      glob: '*.sh'
      run: shfmt -s -w {staged_files}
      stage_fixed: true
    go:
      glob: '*.go'
      run: gofmt -w {staged_files}
      stage_fixed: true
    elisp:
      glob: '*.el'
      run: lisp-format -i -style=google {staged_files}
      stage_fixed: true
    keep-sorted:
      run: keep-sorted --mode fix {staged_files}
      stage_fixed: true
    whitespace:
      run: >
        whitespace-format --remove-trailing-whitespace
        --remove-trailing-empty-lines
        {staged_files} --exclude
        "(.gpg|.png|.jpg|.jpeg|.webp|.gif|.dat|.age|.mp3|.mp4|.mkv|.ttf|.ico|.xcf|.ogg)$"
      stage_fixed: true
    config-file-validator:
      run: validator {staged_files}
    gitleaks:
      run: gitleaks protect -v --staged
commit-msg:
  scripts:
    commitlint.sh:
      runner: bash

feat: add sing-box
  .gitleaksignore
  lib/sing-box/default.nix
  modules/nixos/sing-box/blacklist.key
  modules/nixos/sing-box/default.nix
  modules/nixos/sing-box/fakeIpExclude.key
  modules/nixos/sing-box/knjc.key
  modules/nixos/sing-box/nano.key
  modules/nixos/sing-box/whitelist.key
  packages/sing-box-fork/default.nix
  systems/x86_64-linux/d2550/default.nix
Due: nix, deadnix

feat: add pppd
  modules/nixos/pppd/default.nix
  modules/nixos/pppd/name.key
  modules/nixos/pppd/password.key
Due: nix, deadnix

chore: open regular ports on the router
  modules/nixos/router/default.nix
Due: nix, deadnix

chore: auto update nix hash
  _sources/generated.json
  _sources/generated.nix
Due: json, nix, deadnix

chore: update hash
  modules/nixos/caddy/default.nix
  packages/tach/Cargo.lock
Due: nix, deadnix

chore: update sing-box config
  lib/sing-box/default.nix
  modules/nixos/sing-box/default.nix
  modules/nixos/sing-box/whitelist.key
Due: nix, deadnix

chore: disable searx
  systems/x86_64-linux/brix/default.nix
Due: nix, deadnix

chore: remove deploy overrides
  flake.nix
Due: nix, deadnix

fix: typo
  systems/x86_64-linux/air/default.nix
  systems/x86_64-linux/surface/default.nix
Due: nix, deadnix

feat: add zashboard
  lib/domains/default.nix
  modules/nixos/zashboard/default.nix
  nvfetcher.toml
  packages/zashboard/default.nix
  systems/x86_64-linux/brix/default.nix
Due: toml, nix, deadnix

chore: update sing-box config
  lib/sing-box/default.nix
  modules/nixos/dnsmasq/default.nix
  modules/nixos/sing-box/default.nix
  modules/nixos/sing-box/fakeIpExclude.key
  modules/nixos/sing-box/localDomain.key
Due: nix, deadnix

feat: add shh
  modules/home/cli/system/default.nix
  nvfetcher.toml
  packages/shh/default.nix
Due: toml, nix, deadnix

chore: auto update nix hash
  _sources/generated.json
  _sources/generated.nix
  _sources/shh-08f880c16064126c11a4671898f98d526c4cb930/Cargo.lock
Due: json, nix, deadnix

chore: change ghci prompt
  modules/home/dev/haskell/default.nix
Due: nix, deadnix

chore: update hosts
  modules/nixos/temp-hosts/default.nix
  systems/x86_64-linux/d2550/default.nix
Due: nix, deadnix

chore: update sing-box config
  .gitleaksignore
  .sops.yaml
  lib/sing-box/default.nix
  modules/nixos/sing-box/blacklist.key
  modules/nixos/sing-box/default.nix
  modules/nixos/sing-box/knjc.key
  modules/nixos/sing-box/localDomain.key
  modules/nixos/sing-box/nano.key
  modules/nixos/sops-nix/default.nix
  secrets/zxc/default.yaml
  systems/x86_64-linux/d2550/default.nix
Due: yaml, nix, deadnix

feat: add touhou-cursors
  modules/home/desktop/system/cursor/touhou/default.nix
  nvfetcher.toml
  packages/touhou-cursors/default.nix
Due: toml, nix, deadnix

chore: eanble ra of dnsmasq
  modules/nixos/dnsmasq/default.nix
Due: nix, deadnix

chore: git lfs add zip
  .gitattributes
Due: none

chore: pin ipv6 addr
  modules/nixos/router/default.nix
Due: nix, deadnix

feat: add hoshimachi-suisei-cursors
  lefthook.yml
  modules/home/desktop/system/cursor/default.nix
  modules/home/desktop/system/cursor/suisei/default.nix
  packages/hoshimachi-suisei-cursors/Hoshimachi-Suisei.tar.gz
  packages/hoshimachi-suisei-cursors/default.nix
Due: yaml, nix, deadnix

chore: git lfs add tar.gz
  .gitattributes
Due: none

feat: add taiga-cursors
  lefthook.yml
  modules/home/desktop/system/cursor/default.nix
  modules/home/desktop/system/cursor/taiga/default.nix
  packages/taiga-cursors/default.nix
  packages/taiga-cursors/taiga-cursor.zip
Due: yaml, nix, deadnix

feat: add ellen joe cursors
  modules/home/desktop/system/cursor/ellen-joe/default.nix
  packages/ellen-joe-cursors/Ellen-Joe.tar.gz
  packages/ellen-joe-cursors/default.nix
Due: nix, deadnix

chore: replace file name with wildcard
  packages/anya-cursors/default.nix
  packages/ellen-joe-cursors/default.nix
  packages/frieren-cursors/default.nix
  packages/hoshimachi-suisei-cursors/default.nix
  packages/taiga-cursors/default.nix
Due: nix, deadnix
