Repository ourgal/snowfall: changes, and which lefthook commands are due for each by the changed paths.
All: toml, json, yaml, nix, deadnix, python, lua, fennel, markdown, sh, go, elisp

lefthook.yml:

---
output: false
pre-commit:
  commands:
    toml:
      glob: '*.toml'
      run: taplo fmt {staged_files}
      stage_fixed: true
    json:
      glob: '*.json'
      run: fixjson -w {staged_files}
      stage_fixed: true
    yaml:
      glob: '*.{yaml,yml}'
      run: yamlfix {staged_files}
      stage_fixed: true
    nix:
      glob: '*.nix'
      run: nixfmt {staged_files}
      stage_fixed: true
    deadnix:
      glob: '*.nix'
      run: deadnix -eq {staged_files}
      stage_fixed: true
    python:
      glob: '*.py'
      run: ruff check --fix {staged_files} && ruff format {staged_files}
      stage_fixed: true
    lua:
      glob: '*.lua'
      run: stylua {staged_files}
      stage_fixed: true
    fennel:
      glob: '*.fnl'
      run: fnlfmt --fix {staged_files}
      stage_fixed: true
    markdown:
      glob: '*.md'
      run: prettier --parser markdown --write {staged_files} && autocorrect --fix
        --quiet {staged_files}
      stage_fixed: true
    sh:
      glob: '*.sh'
      run: shfmt -s -w {staged_files}
      stage_fixed: true
    go:
      glob: '*.go'
      run: gofmt -w {staged_files}
      stage_fixed: true
    elisp:
      glob: '*.el'
      run: lisp-format -i -style=google {staged_files}
      stage_fixed: true
    keep-sorted:
      run: keep-sorted --mode fix {staged_files}
      stage_fixed: true
    whitespace:
      run: >
        whitespace-format --remove-trailing-whitespace
        --remove-trailing-empty-lines
        {staged_files} --exclude
        "(.gpg|.png|.jpg|.jpeg|.webp|.gif|.dat|.age|.mp3|.mp4|.mkv|.ttf|.ico|.xcf|.ogg)$"
      stage_fixed: true
    config-file-validator:
      run: validator {staged_files}
    gitleaks:
      run: gitleaks protect -v --staged
commit-msg:
  scripts:
    commitlint.sh:
      runner: bash

chore: update nixpkgs
  flake.lock
Due: none

chore: pull github automatically
  .envrc
Due: none

chore: update .envrc
  .envrc
Due: none

chore: switch home-manager when nixpkgs updated
  .envrc
Due: none

chore: remove zed-editor
  modules/home/desktop/editor/default.nix
  modules/home/desktop/editor/zed-editor/default.nix
Due: nix, deadnix

chore: enable envfs
  systems/x86_64-linux/air/default.nix
  systems/x86_64-linux/home/default.nix
  systems/x86_64-linux/surface/default.nix
Due: nix, deadnix

chore: update hash
  packages/reader/default.nix
Due: nix, deadnix

chore: auto update nix hash
  _sources/generated.json
  _sources/generated.nix
Due: json, nix, deadnix

chore: check hostname when updating nixpkgs
  .envrc
Due: none

chore: disable kmonad
  systems/x86_64-linux/air/default.nix
  systems/x86_64-linux/surface/default.nix
Due: nix, deadnix

chore: update dunst config
  modules/home/desktop/system/dunst/default.nix
Due: nix, deadnix

chore: update qutebrowser bookmarks
  Makefile
  justfile
  modules/home/desktop/browser/qutebrowser/Makefile
  modules/home/desktop/browser/qutebrowser/quickmarks.key
Due: none

fix: parse buku bookmarks with no tags
  modules/home/desktop/browser/qutebrowser/Makefile
  modules/home/desktop/browser/qutebrowser/quickmarks.key
Due: none

chore: update envrc
  .envrc
Due: none

chore: auto update nix hash
  _sources/cdo-f2b243ae294d9fdaec5a327cb0064825fa610f21/Cargo.lock
  _sources/generated.json
  _sources/generated.nix
Due: json, nix, deadnix

chore: deploy when nixpkgs updated
  .envrc
Due: none

chore: restart fcitx when config updated
  modules/home/desktop/system/sbsrf/default.nix
Due: nix, deadnix

chore: update sbsrf sbfm config automatically
  modules/home/desktop/system/sbsrf/default.nix
Due: nix, deadnix

chore: disable updating nixpkgs
  .envrc
Due: none
