Repository ourgal/snowfall: changes, and which lefthook commands are due for each by the changed paths.
All: toml, json, yaml, nix, deadnix, python, lua, fennel, markdown, sh, go, elisp

toml:
  run: taplo fmt {staged_files}
  stage_fixed: true

json:
  run: fixjson -w {staged_files}
  stage_fixed: true

yaml:
  run: yamlfix {staged_files}
  stage_fixed: true

nix:
  run: nixfmt {staged_files}
  stage_fixed: true

deadnix:
  run: deadnix -eq {staged_files}
  stage_fixed: true

python:
  run: ruff check --fix {staged_files} && ruff format {staged_files}
  stage_fixed: true

lua:
  run: stylua {staged_files}
  stage_fixed: true

fennel:
  run: fnlfmt --fix {staged_files}
  stage_fixed: true

markdown:
  run: prettier --parser markdown --write {staged_files} && autocorrect --fix --quiet {staged_files}
  stage_fixed: true

sh:
  run: shfmt -s -w {staged_files}
  stage_fixed: true

go:
  run: gofmt -w {staged_files}
  stage_fixed: true

elisp:
  run: lisp-format -i -style=google {staged_files}
  stage_fixed: true

chore: change mosdns-cn port
  modules/nixos/mosdns-cn/default.nix
Due: nix, deadnix

chore: remove tomlFile and jsonFile
  flake.nix
  lib/module/default.nix
  modules/home/cli/prompt/starship/default.nix
  modules/home/desktop/browser/qutebrowser/default.nix
Due: nix, deadnix

chore: pin gaze version
  nvfetcher.toml
Due: toml

chore: auto update nix hash
  _sources/generated.json
  _sources/generated.nix
Due: json, nix, deadnix

chore: auto update nix hash
  _sources/envset-v0.2.0/Cargo.lock
  _sources/generated.json
  _sources/generated.nix
Due: json, nix, deadnix

feat: add scrutiny
  lib/domains/default.nix
  modules/nixos/scrutiny/default.nix
  systems/x86_64-linux/air/default.nix
  systems/x86_64-linux/brix/default.nix
  systems/x86_64-linux/home/default.nix
  systems/x86_64-linux/surface/default.nix
Due: nix, deadnix

chore: update hash
  packages/mdsf/default.nix
  packages/tach/Cargo.lock
  packages/tach/default.nix
Due: nix, deadnix

chore: build mdsf from source
  nvfetcher.toml
  packages/mdsf/default.nix
Due: toml, nix, deadnix

chore: auto update nix hash
  _sources/generated.json
  _sources/generated.nix
  _sources/mdsf-v0.5.0/Cargo.lock
Due: json, nix, deadnix

chore: build geminicommit from source
  packages/geminicommit/default.nix
Due: nix, deadnix

chore: remove subPackages in eget
  overlays/eget/default.nix
Due: nix, deadnix

chore: build comigo from source
  packages/comigo/default.nix
Due: nix, deadnix

chore: build av from source
  packages/av/default.nix
Due: nix, deadnix

chore: build is from source
  packages/is/default.nix
Due: nix, deadnix

chore: build hledger-fmt from source
  nvfetcher.toml
  packages/hledger-fmt/default.nix
Due: toml, nix, deadnix

chore: auto update nix hash
  _sources/generated.json
  _sources/generated.nix
  _sources/hledger-fmt-v0.2.4/Cargo.lock
Due: json, nix, deadnix

chore: update hash
  packages/sbsrf-rime-data/default.nix
Due: nix, deadnix

chore: build hl from source
  packages/hl/Cargo.lock
  packages/hl/default.nix
Due: nix, deadnix

feat: add jackett
  lib/domains/default.nix
  modules/nixos/jackett/default.nix
  overlays/jackett/default.nix
  systems/x86_64-linux/brix/default.nix
Due: nix, deadnix

chore: build rustywatch from source
  nvfetcher.toml
  packages/rustywatch/default.nix
Due: toml, nix, deadnix

Path conditions:
  toml: any of: *.toml
  json: any of: *.json
  yaml: any of: *.{yaml,yml}
  nix: any of: *.nix
  deadnix: any of: *.nix
  python: any of: *.py
  lua: any of: *.lua
  fennel: any of: *.fnl
  markdown: any of: *.md
  sh: any of: *.sh
  go: any of: *.go
  elisp: any of: *.el
