Repository ourgal/snowfall: changes, and which lefthook commands are due for each by the changed paths.
All: toml, json, yaml, nix, deadnix, python, lua, fennel, markdown, sh, go, elisp

toml:
  run: taplo fmt {staged_files}
  stage_fixed: true

json:
  run: fixjson -w {staged_files}
  stage_fixed: true

yaml:
  run: yamlfix {staged_files}
  stage_fixed: true

nix:
  run: nixfmt {staged_files}
  stage_fixed: true

deadnix:
  run: deadnix -eq {staged_files}
  stage_fixed: true

python:
  run: ruff check --fix {staged_files} && ruff format {staged_files}
  stage_fixed: true

lua:
  run: stylua {staged_files}
  stage_fixed: true

fennel:
  run: fnlfmt --fix {staged_files}
  stage_fixed: true

markdown:
  run: prettier --parser markdown --write {staged_files} && autocorrect --fix --quiet {staged_files}
  stage_fixed: true

sh:
  run: shfmt -s -w {staged_files}
  stage_fixed: true

go:
  run: gofmt -w {staged_files}
  stage_fixed: true

elisp:
  run: lisp-format -i -style=google {staged_files}
  stage_fixed: true

feat: add notmuch
  modules/home/cli/mail/notmuch/afew/default.nix
  modules/home/cli/mail/notmuch/default.nix
  modules/home/cli/mail/notmuch/gmail.key
  modules/home/cli/mail/notmuch/lieer/default.nix
Due: nix, deadnix

chore: auto update nix hash
  _sources/generated.json
  _sources/generated.nix
Due: json, nix, deadnix

feat: add maple-mono-SC-NF
  modules/home/fonts/default.nix
Due: nix, deadnix

chore: change fonts to maple-mono-SC-NF
  modules/home/awesome/minimalFnl/config/themes/default/theme.fnl
  modules/home/cli/file-manager/chezmoi/config/dot_config/doom/config.el
  modules/home/desktop/editor/doom-emacs/config/config.el
  modules/home/desktop/editor/emacs/better-defaults/config.el
  modules/home/desktop/editor/vscode/default.nix
  modules/home/desktop/system/rofi/default.nix
  modules/home/desktop/terminal/alacritty/default.nix
  modules/home/desktop/terminal/contour/contour.yml
  modules/home/desktop/terminal/contour/default.nix
  modules/home/desktop/terminal/ghostty/default.nix
  modules/home/desktop/terminal/kitty/default.nix
  modules/home/desktop/terminal/rio/default.nix
  modules/home/qtile/Cozytile/default.nix
Due: yaml, nix, deadnix, fennel, elisp

chore: auto update nix hash
  _sources/dela-765872d15ca41680c3311565ea2a82eddbe36c7b/Cargo.lock
  _sources/generated.json
  _sources/generated.nix
Due: json, nix, deadnix

chore: rename game_2048_tui to game-2048-tui
  nvfetcher.toml
Due: toml

chore: auto update nix hash
  _sources/game-2048-tui-v0.0.2/Cargo.lock
  _sources/generated.json
  _sources/generated.nix
Due: json, nix, deadnix

fix: typo and rename some files
  modules/home/cli/editor/vim/git/git-messager-vim/default.nix
  modules/home/cli/task/default.nix
  packages/git-messenger-vim/default.nix
  packages/rust-kanban/default.nix
Due: nix, deadnix

fix: correct nix-auto-follow version
  packages/nix-auto-follow/default.nix
Due: nix, deadnix

fix: add name for writeShellApplication
  packages/git-heatgrid/default.nix
Due: nix, deadnix

chore: disable nixos fonts
  lib/settings/default.nix
  systems/x86_64-linux/home/default.nix
Due: nix, deadnix

chore: add user fontconfig
  modules/home/awesome/0xTux/theme/default.lua
  modules/home/awesome/fullscreen/themes/multicolor/theme.lua
  modules/home/awesome/minimalFnl/config/themes/default/theme.fnl
  modules/home/cli/file-manager/chezmoi/config/dot_config/doom/config.el
  modules/home/cli/file-manager/chezmoi/config/dot_config/lvim/lua/configs/neovim.lua
  modules/home/cli/file-manager/chezmoi/config/dot_vim/options.vim
  modules/home/desktop/editor/doom-emacs/config/config.el
  modules/home/desktop/editor/emacs/better-defaults/config.el
  modules/home/desktop/editor/vscode/default.nix
  modules/home/desktop/system/rofi/default.nix
  modules/home/desktop/terminal/alacritty/default.nix
  modules/home/desktop/terminal/contour/contour.yml
  modules/home/desktop/terminal/contour/default.nix
  modules/home/desktop/terminal/ghostty/default.nix
  modules/home/desktop/terminal/kitty/default.nix
  modules/home/desktop/terminal/rio/default.nix
  modules/home/desktop/terminal/wezterm/config.lua
  modules/home/fonts/default.nix
  modules/home/qtile/Cozytile/default.nix
  overlays/nerdfonts/default.nix
Due: yaml, nix, deadnix, lua, fennel, elisp

chore: update nixos fontconfig
  lib/settings/default.nix
  modules/nixos/fonts/default.nix
  systems/x86_64-linux/home/default.nix
Due: nix, deadnix

chore: merge font config to lib
  lib/fonts/default.nix
  modules/home/fonts/default.nix
  modules/nixos/fonts/default.nix
Due: nix, deadnix

chore: change mono font
  lib/fonts/default.nix
  modules/home/desktop/editor/doom-emacs/config/config.el
Due: nix, deadnix, elisp

chore: convert nix to fontconfig
  lib/fonts/default.nix
  modules/home/fonts/default.nix
Due: nix, deadnix

chore: add more fontconfig
  lib/fonts/default.nix
  modules/home/fonts/default.nix
Due: nix, deadnix

feat: add font-awesome
  lib/fonts/default.nix
Due: nix, deadnix

feat: add noto fonts
  lib/fonts/default.nix
Due: nix, deadnix

chore: add more fontconfig
  lib/fonts/default.nix
  modules/home/fonts/default.nix
  modules/nixos/fonts/default.nix
Due: nix, deadnix

feat: add swei-nut-sans
  lib/fonts/default.nix
  nvfetcher.toml
  packages/swei-nut-sans/default.nix
Due: toml, nix, deadnix

chore: remove user's fonts
  modules/home/fonts/default.nix
Due: nix, deadnix

chore: auto update nix hash
  _sources/dela-c7c3982006f6bfdb12ce1d66171eabd36a2aeae0/Cargo.lock
  _sources/generated.json
  _sources/generated.nix
  _sources/tabry-rs-834de4c0f29ae0585dc822ab2b4418292765d017/Cargo.lock
Due: json, nix, deadnix

feat: add comicneue
  lib/fonts/default.nix
  nvfetcher.toml
  packages/comicneue/default.nix
Due: toml, nix, deadnix

feat: add ChillReunion
  lib/fonts/default.nix
  nvfetcher.toml
  packages/ChillReunion/default.nix
Due: toml, nix, deadnix

fix: escape bachslash
  nvfetcher.toml
Due: toml

chore: change corgi src
  nvfetcher.toml
  packages/corgi/default.nix
Due: toml, nix, deadnix

chore: speed nvfetcher up
  .github/workflows/nvfetcher.yaml
Due: yaml

chore: build cmdx from source
  packages/cmdx/default.nix
Due: nix, deadnix

chore: change gif-progress src
  nvfetcher.toml
  packages/gif-progress/default.nix
Due: toml, nix, deadnix

chore: add magic-nix-cache-action
  .github/workflows/nvfetcher.yaml
Due: yaml

Path conditions:
  toml: any of: *.toml
  json: any of: *.json
  yaml: any of: *.{yaml,yml}
  nix: any of: *.nix
  deadnix: any of: *.nix
  python: any of: *.py
  lua: any of: *.lua
  fennel: any of: *.fnl
  markdown: any of: *.md
  sh: any of: *.sh
  go: any of: *.go
  elisp: any of: *.el
