Repository ourgal/snowfall: changes, and which lefthook commands are due for each by the changed paths.
All: toml, json, yaml, nix, deadnix, python, lua, fennel, markdown, sh, go, elisp

toml:
  run: taplo fmt {staged_files}
  stage_fixed: true

json:
  run: fixjson -w {staged_files}
  stage_fixed: true

yaml:
  run: yamlfix {staged_files}
  stage_fixed: true

nix:
  run: nixfmt {staged_files}
  stage_fixed: true

deadnix:
  run: deadnix -eq {staged_files}
  stage_fixed: true

python:
  run: ruff check --fix {staged_files} && ruff format {staged_files}
  stage_fixed: true

lua:
  run: stylua {staged_files}
  stage_fixed: true

fennel:
  run: fnlfmt --fix {staged_files}
  stage_fixed: true

markdown:
  run: prettier --parser markdown --write {staged_files} && autocorrect --fix --quiet {staged_files}
  stage_fixed: true

sh:
  run: shfmt -s -w {staged_files}
  stage_fixed: true

go:
  run: gofmt -w {staged_files}
  stage_fixed: true

elisp:
  run: lisp-format -i -style=google {staged_files}
  stage_fixed: true

feat: add aicommit2 package
  README.org
  modules/home/cli/AI/default.nix
  modules/nixos/sops-nix/desktops/default.nix
  nvfetcher.toml
  packages/aicommit2/default.nix
  waiting.sql
Due: toml, nix, deadnix

chore: auto update nix hash
  _sources/generated.json
  _sources/generated.nix
Due: json, nix, deadnix

chore: disable betterlockscreen
  modules/home/cli/system/default.nix
Due: nix, deadnix

chore: enable i3lock-color
  modules/home/cli/screen-locker/default.nix
  modules/home/cli/system/default.nix
  modules/home/cli/system/i3lock-color/default.nix
Due: nix, deadnix

feat: add voicevox
  README.org
  modules/home/desktop/audio/default.nix
  waiting.sql
Due: nix, deadnix

feat: add sss_code
  README.org
  modules/home/dev/share/default.nix
  waiting.sql
Due: nix, deadnix

chore: disable i3lock-color
  modules/home/cli/system/default.nix
Due: nix, deadnix

chore: set the priority of mirrors
  flake.nix
  modules/nixos/common/nix/default.nix
Due: nix, deadnix

chore: replace otree with the one of nixpkgs
  README.org
  modules/home/dev/json/default.nix
  modules/home/dev/toml/default.nix
  modules/home/dev/yaml/default.nix
  nvfetcher.toml
  packages/otree/default.nix
  waiting.sql
Due: toml, nix, deadnix

chore: remove eza aliases
  modules/home/cli/utils/ls/eza/default.nix
Due: nix, deadnix

feat: add lla
  README.org
  modules/home/cli/utils/ls/default.nix
  modules/home/cli/utils/ls/lla/default.nix
  waiting.sql
Due: nix, deadnix

chore: replace ahoy with the nixpkgs's one
  README.org
  modules/home/cli/runner/default.nix
  nvfetcher.toml
  packages/ahoy/default.nix
  waiting.sql
Due: toml, nix, deadnix

chore: remove mago from waiting list
  README.org
  waiting.sql
Due: none

feat: add moxide
  README.org
  modules/home/cli/multiplexer/tmux/default.nix
  modules/home/cli/multiplexer/tmux/moxide/default.nix
  modules/home/cli/multiplexer/tmux/yank/default.nix
  waiting.sql
Due: nix, deadnix

chore: remove cloudpan189-go from waiting list
  README.org
  waiting.sql
Due: none

feat: add scooter
  README.org
  modules/home/cli/utils/sed/default.nix
  overlays/lsp-ai/default.nix
  overlays/scooter/default.nix
  waiting.sql
Due: nix, deadnix

feat: add deskflow
  README.org
  modules/home/desktop/system/default.nix
  waiting.sql
Due: nix, deadnix

feat: add kryptor
  README.org
  modules/home/cli/encrypt/default.nix
  waiting.sql
Due: nix, deadnix

feat: add ffpb
  README.org
  modules/home/cli/video/default.nix
  waiting.sql
Due: nix, deadnix

feat: add awk-language-server
  README.org
  modules/home/dev/awk/default.nix
  waiting.sql
Due: nix, deadnix

feat: add lilex font
  README.org
  lib/fonts/default.nix
  waiting.sql
Due: nix, deadnix

chore: move license-cli to dev module
  modules/home/cli/versionControl/git/default.nix
  modules/home/cli/versionControl/git/license/default.nix
  modules/home/dev/default.nix
Due: nix, deadnix

feat: add copywrite
  README.org
  modules/home/dev/default.nix
  waiting.sql
Due: nix, deadnix

feat: add primitive
  README.org
  modules/home/cli/image/convert/default.nix
  waiting.sql
Due: nix, deadnix

feat: add textidote
  README.org
  modules/home/dev/latex/default.nix
  waiting.sql
Due: nix, deadnix

feat: add astroterm
  README.org
  modules/home/cli/fun/default.nix
  waiting.sql
Due: nix, deadnix

feat: add isd
  README.org
  modules/home/cli/system/default.nix
  waiting.sql
Due: nix, deadnix

feat: add flow-control
  README.org
  modules/home/cli/editor/bak/default.nix
  waiting.sql
Due: nix, deadnix

feat: add watcher
  README.org
  modules/home/cli/utils/watch/default.nix
  waiting.sql
Due: nix, deadnix

feat: add inori
  README.org
  modules/home/cli/audio/player/mpd/default.nix
  waiting.sql
Due: nix, deadnix

chore: enable kitty cursor trail
  modules/home/desktop/terminal/kitty/default.nix
Due: nix, deadnix

feat: add migrate-to-uv
  README.org
  modules/home/cli/versionControl/git/amend/default.nix
  modules/home/dev/python/default.nix
  waiting.sql
Due: nix, deadnix

feat: add ffizer
  README.org
  modules/home/dev/template/cookiecutter/default.nix
  waiting.sql
Due: nix, deadnix

feat: add gssg
  README.org
  modules/home/dev/blog/default.nix
  waiting.sql
Due: nix, deadnix

feat: add powershell-editor-services
  README.org
  modules/home/dev/powershell/default.nix
  waiting.sql
Due: nix, deadnix

chore: add powershell editors config
  modules/home/cli/editor/helix/default.nix
  modules/home/cli/editor/vim/lsp/coc-nvim/config.vim
  modules/home/cli/file-manager/chezmoi/config/dot_vim/coc-settings.json
Due: json, nix, deadnix

chore: replace tmux-which-key with the nixpkgs's one
  README.org
  modules/home/cli/multiplexer/tmux/which-key/default.nix
  waiting.sql
Due: nix, deadnix

feat: add simplemoji
  README.org
  modules/home/desktop/search/default.nix
  nvfetcher.toml
  packages/simplemoji/default.nix
  waiting.sql
Due: toml, nix, deadnix

chore: auto update nix hash
  _sources/generated.json
  _sources/generated.nix
  _sources/otree-v0.4.0/Cargo.lock
  _sources/shh-57c91bbe7523ee8958d68d7ef7c3977f5480c3e8/Cargo.lock
  _sources/simplemoji-v0.2.1/Cargo.lock
Due: json, nix, deadnix

chore: update hash
  packages/aicommit2/default.nix
Due: nix, deadnix

Path conditions:
  toml: any of: *.toml
  json: any of: *.json
  yaml: any of: *.{yaml,yml}
  nix: any of: *.nix
  deadnix: any of: *.nix
  python: any of: *.py
  lua: any of: *.lua
  fennel: any of: *.fnl
  markdown: any of: *.md
  sh: any of: *.sh
  go: any of: *.go
  elisp: any of: *.el
