Repository ourgal/snowfall: changes, and which lefthook commands are due for each by the changed paths.
All: toml, json, yaml, nix, deadnix, python, lua, fennel, markdown, sh, go, elisp

toml:
  run: taplo fmt {staged_files}
  stage_fixed: true

json:
  run: fixjson -w {staged_files}
  stage_fixed: true

yaml:
  run: yamlfix {staged_files}
  stage_fixed: true

nix:
  run: nixfmt {staged_files}
  stage_fixed: true

deadnix:
  run: deadnix -eq {staged_files}
  stage_fixed: true

python:
  run: ruff check --fix {staged_files} && ruff format {staged_files}
  stage_fixed: true

lua:
  run: stylua {staged_files}
  stage_fixed: true

fennel:
  run: fnlfmt --fix {staged_files}
  stage_fixed: true

markdown:
  run: prettier --parser markdown --write {staged_files} && autocorrect --fix --quiet {staged_files}
  stage_fixed: true

sh:
  run: shfmt -s -w {staged_files}
  stage_fixed: true

go:
  run: gofmt -w {staged_files}
  stage_fixed: true

elisp:
  run: lisp-format -i -style=google {staged_files}
  stage_fixed: true

chore: update qutebrowser keymap
  modules/home/desktop/browser/qutebrowser/default.nix
Due: nix, deadnix

chore: disable atticd
  flake.nix
  systems/x86_64-linux/brix/default.nix
Due: nix, deadnix

chore: add avahi and resolved modules
  lib/firehol/default.nix
  lib/module/default.nix
  modules/nixos/common/network/avahi/default.nix
  modules/nixos/common/network/default.nix
  modules/nixos/common/network/sysctl/default.nix
  modules/nixos/common/network/systemd-resolved/default.nix
  modules/nixos/firehol/default.nix
Due: nix, deadnix

feat: add homebox
  lib/domains/default.nix
  modules/nixos/homebox/default.nix
  systems/x86_64-linux/brix/default.nix
Due: nix, deadnix

chore: add mdns service to firehol
  modules/nixos/firehol/default.nix
Due: nix, deadnix

chore: replace commitlint-rs with commitlint
  lefthook.yml
Due: yaml

feat: add datalad
  modules/home/cli/versionControl/git/sync/default.nix
Due: nix, deadnix

chore: add yanyu host
  lib/ip/default.nix
  lib/ip/yanyu_ip.key
  lib/ip/yanyu_mac.key
  lib/settings/default.nix
  modules/nixos/disko/default.nix
  modules/nixos/dnsmasq/default.nix
  systems/x86_64-linux/yanyu/default.nix
Due: nix, deadnix

chore: check commit msg by commitizen
  lefthook.yml
Due: yaml

chore: rename d2550 to router
  .envrc
  .sops.yaml
  lib/ip/brix_ip.key
  lib/ip/brix_mac.key
  lib/ip/ct3003_ip.key
  lib/ip/ct3003_mac.key
  lib/ip/d2550_ip.key
  lib/ip/default.nix
  lib/ip/home_ip.key
  lib/ip/home_mac.key
  lib/ip/ip.key
  lib/ip/mac.key
  lib/ip/nuc_ip.key
  lib/ip/nuc_mac.key
  lib/ip/onecloud_ip.key
  lib/ip/onecloud_mac.key
  lib/ip/yanyu_ip.key
  lib/ip/yanyu_mac.key
  lib/settings/default.nix
  modules/nixos/disko/default.nix
  secrets/zxc/default.yaml
  systems/x86_64-linux/router/default.nix
Due: yaml, nix, deadnix

feat: add restic-server
  lib/domains/default.nix
  lib/interface/default.nix
  modules/nixos/caddy/default.nix
  modules/nixos/firehol/default.nix
  modules/nixos/restic-server/default.nix
  systems/x86_64-linux/yanyu/default.nix
Due: nix, deadnix

chore: specify firehol clients
  lib/ip/default.nix
  modules/nixos/firehol/default.nix
  modules/nixos/router/default.nix
Due: nix, deadnix

feat: add git-recent
  modules/home/cli/versionControl/git/branch/default.nix
Due: nix, deadnix

feat: add git-trim
  modules/home/cli/versionControl/git/branch/default.nix
Due: nix, deadnix

feat: add git-fire
  modules/home/cli/versionControl/git/commit/default.nix
Due: nix, deadnix

feat: add git-open
  modules/home/cli/versionControl/git/github/default.nix
Due: nix, deadnix

feat: add git-gone
  modules/home/cli/versionControl/git/branch/default.nix
Due: nix, deadnix

feat: add git-smash
  modules/home/cli/versionControl/git/commit/default.nix
Due: nix, deadnix

chore: change vim keyamp
  checks/deploy/default.nix
  lib/firehol/default.nix
  lib/settings/default.nix
  lib/sing-box/default.nix
  modules/home/cli/editor/vim/default.nix
  modules/home/cli/editor/vim/integration/vim-floaterm/config.vim
  overlays/_sources/default.nix
Due: nix, deadnix

chore: add vim cache dir
  modules/home/cli/editor/nixvim/default.nix
  modules/home/cli/editor/vim/default.nix
Due: nix, deadnix

style: sort code
  modules/home/cli/editor/nixvim/default.nix
Due: nix, deadnix

chore: update vim dirvish keymap
  modules/home/cli/file-manager/chezmoi/config/dot_vim/ftplugin/dirvish.vim
Due: none

fix: update conform-nvim config
  modules/home/cli/editor/nixvim/auto-save-nvim/default.nix
  modules/home/cli/editor/nixvim/conform-nvim/default.nix
  modules/home/cli/editor/nixvim/headlines-nvim/default.nix
Due: nix, deadnix

chore: update nixvim keymap
  modules/home/cli/editor/nixvim/vim-floaterm/default.nix
Due: nix, deadnix

chore: update qutebrowser bookmarks
  modules/home/desktop/browser/qutebrowser/quickmarks.key
Due: none

chore: update nixvim config
  modules/home/cli/editor/nixvim/blink-cmp/default.nix
  modules/home/cli/editor/nixvim/default.nix
  modules/home/cli/editor/nixvim/fugitive/default.nix
  modules/home/cli/editor/nixvim/fugitive/fugitive.lua
  modules/home/cli/editor/nixvim/git.lua
  modules/home/cli/editor/nixvim/help.lua
  modules/home/cli/editor/nixvim/vim-dirvish/config.lua
  modules/home/cli/editor/nixvim/vim-dirvish/default.nix
  modules/home/cli/editor/nixvim/vim-dirvish/dirvish.lua
  modules/home/cli/file-manager/chezmoi/config/dot_vim/ftplugin/dirvish.vim
Due: nix, deadnix, lua

chore: replace moreutils with parallel and vidir
  modules/home/cli/utils/default.nix
Due: nix, deadnix

chore: change tmux keymap
  modules/home/cli/multiplexer/tmux/ssh-split/default.nix
Due: nix, deadnix

chore: disable firehol and komga at brix
  systems/x86_64-linux/brix/default.nix
Due: nix, deadnix

chore: add manga scripts
  modules/home/cli/download/default.nix
  modules/home/cli/download/manga/Makefile
  modules/home/cli/download/manga/archive.sh
  modules/home/cli/download/manga/convert2avif.sh
  modules/home/cli/download/manga/convert2jpg.sh
  modules/home/cli/download/manga/convert2webp.sh
  modules/home/cli/download/manga/default.nix
  modules/home/cli/download/manga/push.sh
  modules/home/cli/download/manga/rename.sh
  modules/home/cli/download/manga/unarchive.sh
  modules/home/cli/download/manga/unpack.sh
Due: nix, deadnix, sh

chore: add parallel config
  modules/home/cli/utils/default.nix
Due: nix, deadnix

chore: open webp using feh in newsboat
  packages/newsboat-open/newsboat-open.sh
Due: sh

chore: add manga script
  modules/home/cli/runner/just/default.nix
  modules/home/cli/snippet/navi/my_cheats/manga.cheat
Due: nix, deadnix

chore: add manual countries proxy groups
  lib/mihomo/default.nix
  lib/sing-box/default.nix
Due: nix, deadnix

chore: remvoe useless code
  modules/home/cli/shell/fish/default.nix
Due: nix, deadnix

chore: wrap ranger in the fish shell
  modules/home/cli/shell/fish/default.nix
Due: nix, deadnix

feat: add md2png
  modules/home/cli/image/default.nix
  modules/home/cli/image/md2png/default.nix
  packages/md2png/default.nix
  packages/md2png/go.mod
  packages/md2png/go.sum
Due: nix, deadnix

feat: add smartcd.fish
  modules/home/cli/shell/fish/default.nix
  nvfetcher.toml
Due: toml, nix, deadnix

Path conditions:
  toml: any of: *.toml
  json: any of: *.json
  yaml: any of: *.{yaml,yml}
  nix: any of: *.nix
  deadnix: any of: *.nix
  python: any of: *.py
  lua: any of: *.lua
  fennel: any of: *.fnl
  markdown: any of: *.md
  sh: any of: *.sh
  go: any of: *.go
  elisp: any of: *.el
