Repository ourgal/snowfall: changes, and which lefthook commands are due for each by the changed paths.
All: toml, json, yaml, nix, deadnix, python, lua, fennel, markdown, sh, go, elisp

lefthook.yml:

---
output: false
pre-commit:
  commands:
    toml:
      glob: '*.toml'
      run: taplo fmt {staged_files}
      stage_fixed: true
    json:
      glob: '*.json'
      run: fixjson -w {staged_files}
      stage_fixed: true
    yaml:
      glob: '*.{yaml,yml}'
      run: yamlfix {staged_files}
      stage_fixed: true
    nix:
      glob: '*.nix'
      run: nixfmt {staged_files}
      stage_fixed: true
    deadnix:
      glob: '*.nix'
      run: deadnix -eq {staged_files}
      stage_fixed: true
    python:
      glob: '*.py'
      run: ruff check --fix {staged_files} && ruff format {staged_files}
      stage_fixed: true
    lua:
      glob: '*.lua'
      run: stylua {staged_files}
      stage_fixed: true
    fennel:
      glob: '*.fnl'
      run: fnlfmt --fix {staged_files}
      stage_fixed: true
    markdown:
      glob: '*.md'
      run: prettier --parser markdown --write {staged_files} && autocorrect --fix
        --quiet {staged_files}
      stage_fixed: true
    sh:
      glob: '*.sh'
      run: shfmt -s -w {staged_files}
      stage_fixed: true
    go:
      glob: '*.go'
      run: gofmt -w {staged_files}
      stage_fixed: true
    elisp:
      glob: '*.el'
      run: lisp-format -i -style=google {staged_files}
      stage_fixed: true
    keep-sorted:
      run: keep-sorted --mode fix {staged_files}
      stage_fixed: true
    whitespace:
      run: >
        whitespace-format --remove-trailing-whitespace
        --remove-trailing-empty-lines
        {staged_files} --exclude
        "(.gpg|.png|.jpg|.jpeg|.webp|.gif|.dat|.age|.mp3|.mp4|.mkv|.ttf|.ico|.xcf|.ogg)$"
      stage_fixed: true
    config-file-validator:
      run: validator {staged_files}
    gitleaks:
      run: gitleaks protect -v --staged
commit-msg:
  scripts:
    commitlint.sh:
      runner: bash

feat: add jellyfin-tui
  README.org
  modules/home/cli/audio/player/default.nix
  waiting.sql
Due: nix, deadnix

feat: add fum
  README.org
  lib/module/default.nix
  modules/home/cli/audio/player/default.nix
  modules/home/cli/audio/player/fum/default.nix
  waiting.sql
Due: nix, deadnix

feat: add sourcegit
  README.org
  modules/home/desktop/default.nix
  modules/home/desktop/git/default.nix
  waiting.sql
Due: nix, deadnix

feat: add clock-rs
  README.org
  modules/home/cli/clock/clock-rs/default.nix
  modules/home/cli/clock/default.nix
  waiting.sql
Due: nix, deadnix

feat: add xan
  README.org
  modules/home/dev/csv/default.nix
  waiting.sql
Due: nix, deadnix

feat: add nix-search-tv
  README.org
  modules/home/cli/search/television/default.nix
  waiting.sql
Due: nix, deadnix

feat: add tooling-language-server
  README.org
  modules/home/dev/default.nix
  waiting.sql
Due: nix, deadnix

feat: add exercism-cli-fish-wrapper
  README.org
  modules/home/cli/shell/fish/default.nix
  waiting.sql
Due: nix, deadnix

chore: modularize fish configuration
  modules/home/cli/download/yt-dlp/default.nix
  modules/home/cli/shell/fish/aliases/default.nix
  modules/home/cli/shell/fish/autopair.fish/default.nix
  modules/home/cli/shell/fish/clownfish/default.nix
  modules/home/cli/shell/fish/ctrl-z.fish/default.nix
  modules/home/cli/shell/fish/default.nix
  modules/home/cli/shell/fish/done/default.nix
  modules/home/cli/shell/fish/exercism-cli-fish-wrapper/default.nix
  modules/home/cli/shell/fish/fc-fish/default.nix
  modules/home/cli/shell/fish/fifc/default.nix
  modules/home/cli/shell/fish/fish-abbreviation-tips/default.nix
  modules/home/cli/shell/fish/fish-bd/default.nix
  modules/home/cli/shell/fish/fish-color-scheme-switcher/default.nix
  modules/home/cli/shell/fish/fish-f/default.nix
  modules/home/cli/shell/fish/fish-gitnow/.gitnow
  modules/home/cli/shell/fish/fish-gitnow/default.nix
  modules/home/cli/shell/fish/functions/default.nix
  modules/home/cli/shell/fish/functions/live-wallpaper/default.nix
  modules/home/cli/shell/fish/functions/mkcd/default.nix
  modules/home/cli/shell/fish/functions/ranger/default.nix
  modules/home/cli/shell/fish/functions/scroff/default.nix
  modules/home/cli/shell/fish/functions/tstickers/default.nix
  modules/home/cli/shell/fish/fzf-help/fish-f/default.nix
  modules/home/cli/shell/fish/fzf/default.nix
  modules/home/cli/shell/fish/puffer/default.nix
  modules/home/cli/shell/fish/rgg.fish/default.nix
  modules/home/cli/shell/fish/sponge/default.nix
  modules/home/cli/shell/fish/to-fish/default.nix
  modules/home/cli/shell/fish/todo-comments.fish/default.nix
Due: nix, deadnix

feat: add clashtui
  README.org
  modules/home/cli/proxy/default.nix
  waiting.sql
Due: nix, deadnix

feat: add mpls
  README.org
  modules/home/dev/markdown/default.nix
  waiting.sql
Due: nix, deadnix

feat: add flamelens
  README.org
  modules/home/cli/system/default.nix
  waiting.sql
Due: nix, deadnix

feat: add t3
  README.org
  modules/home/cli/utils/default.nix
  modules/home/cli/utils/tee/default.nix
  waiting.sql
Due: nix, deadnix

feat: add xdg-desktop-portal-termfilechooser
  README.org
  modules/home/cli/system/xdg-desktop-portal-termfilechooser/default.nix
  modules/home/desktop/system/default.nix
  waiting.sql
Due: nix, deadnix

feat: add jinja-lsp
  README.org
  modules/home/dev/jinja/default.nix
  waiting.sql
Due: nix, deadnix

feat: add biliup-rs
  README.org
  modules/home/cli/share/default.nix
  waiting.sql
Due: nix, deadnix

feat: add world-wall-clock
  README.org
  modules/home/cli/clock/default.nix
  waiting.sql
Due: nix, deadnix

feat: add aonsoku
  README.org
  modules/home/desktop/audio/default.nix
  waiting.sql
Due: nix, deadnix

chore: replace simple-completion-langauge-server
  README.org
  modules/home/cli/editor/helix/default.nix
  nvfetcher.toml
  packages/simple-completion-language-server/default.nix
  waiting.sql
Due: toml, nix, deadnix

feat: add taze
  README.org
  modules/home/dev/nodejs/default.nix
  waiting.sql
Due: nix, deadnix

feat: add tray-tui
  README.org
  modules/home/cli/system/default.nix
  waiting.sql
Due: nix, deadnix

feat: add hot-resize
  README.org
  modules/home/cli/system/default.nix
  waiting.sql
Due: nix, deadnix

feat: add uv-sort
  README.org
  lefthook.yml
  modules/home/dev/python/default.nix
  waiting.sql
Due: yaml, nix, deadnix

chore: replace zashboard with the nixpkgs's one
  README.org
  modules/nixos/zashboard/default.nix
  waiting.sql
Due: nix, deadnix

chore: enable harmonia on the servers
  flake.nix
  modules/nixos/common/nix/default.nix
  systems/x86_64-linux/brix/default.nix
  systems/x86_64-linux/router/default.nix
Due: nix, deadnix

feat: add nix-converter
  README.org
  modules/home/cli/nix/default.nix
  waiting.sql
Due: nix, deadnix

fix: add fish-lsp config for helix
  modules/home/cli/editor/helix/default.nix
Due: nix, deadnix

chore: add fish-lsp config for doomemacs
  modules/home/desktop/editor/doom-emacs/config/plugins/eglot.el
Due: elisp

chore: set nix mirrors
  modules/nixos/common/nix/default.nix
Due: nix, deadnix

feat: add autotools-language-server
  modules/home/cli/editor/helix/default.nix
  modules/home/cli/file-manager/chezmoi/config/dot_vim/coc-settings.json
  modules/home/dev/default.nix
Due: json, nix, deadnix

feat: add autoconf module
  modules/home/dev/autoconf/default.nix
  modules/home/dev/default.nix
Due: nix, deadnix

feat: add jjui
  modules/home/cli/versionControl/jujutsu/default.nix
Due: nix, deadnix

feat: add just-lsp
  README.org
  modules/home/cli/editor/helix/default.nix
  modules/home/cli/file-manager/chezmoi/config/dot_vim/coc-settings.json
  modules/home/cli/runner/just/default.nix
  waiting.sql
Due: json, nix, deadnix

feat: add emacs-just-ts-mode
  modules/home/desktop/editor/doom-emacs/config/plugins/just-ts-mode.el
  modules/home/desktop/editor/doom-emacs/default.nix
  modules/home/desktop/editor/doom-emacs/just-ts-mode/default.nix
Due: nix, deadnix, elisp

feat: add emacs-just-mode
  modules/home/desktop/editor/doom-emacs/config/config.el
  modules/home/desktop/editor/doom-emacs/config/plugins/eglot.el
  modules/home/desktop/editor/doom-emacs/config/plugins/just-mode.el
  modules/home/desktop/editor/doom-emacs/default.nix
  modules/home/desktop/editor/doom-emacs/just-mode/default.nix
Due: nix, deadnix, elisp

feat: add emacs-treesit-auto
  modules/home/desktop/editor/doom-emacs/config/config.el
  modules/home/desktop/editor/doom-emacs/config/plugins/treesit-auto.el
  modules/home/desktop/editor/doom-emacs/treesit-auto/default.nix
Due: nix, deadnix, elisp

chore: enable emacs-just-ts-mode
  modules/home/desktop/editor/doom-emacs/config/config.el
  modules/home/desktop/editor/doom-emacs/config/plugins/eglot.el
  modules/home/desktop/editor/doom-emacs/default.nix
Due: nix, deadnix, elisp

chore: add make lsp config to doomemacs
  modules/home/desktop/editor/doom-emacs/config/plugins/eglot.el
Due: elisp

chore: replace mdsf with the nixpkgs's one
  README.org
  modules/home/dev/markdown/mdsf/default.nix
  nvfetcher.toml
  packages/mdsf/default.nix
  waiting.sql
Due: toml, nix, deadnix
