Repository ourgal/snowfall: changes, and which lefthook commands are due for each by the changed paths.
All: toml, json, yaml, nix, deadnix, python, lua, fennel, markdown, sh, go, elisp

toml:
  run: taplo fmt {staged_files}
  stage_fixed: true

json:
  run: fixjson -w {staged_files}
  stage_fixed: true

yaml:
  run: yamlfix {staged_files}
  stage_fixed: true

nix:
  run: nixfmt {staged_files}
  stage_fixed: true

deadnix:
  run: deadnix -eq {staged_files}
  stage_fixed: true

python:
  run: ruff check --fix {staged_files} && ruff format {staged_files}
  stage_fixed: true

lua:
  run: stylua {staged_files}
  stage_fixed: true

fennel:
  run: fnlfmt --fix {staged_files}
  stage_fixed: true

markdown:
  run: prettier --parser markdown --write {staged_files} && autocorrect --fix --quiet {staged_files}
  stage_fixed: true

sh:
  run: shfmt -s -w {staged_files}
  stage_fixed: true

go:
  run: gofmt -w {staged_files}
  stage_fixed: true

elisp:
  run: lisp-format -i -style=google {staged_files}
  stage_fixed: true

chore: auto update nix hash
  _sources/generated.json
  _sources/generated.nix
Due: json, nix, deadnix

chore: add emacs-eglot-booster to nvfetcher
  nvfetcher.toml
Due: toml

chore: auto update nix hash
  _sources/generated.json
  _sources/generated.nix
  _sources/mdsf-v0.5.2/Cargo.lock
Due: json, nix, deadnix

chore: disable av
  modules/home/cli/versionControl/git/branch/bak/default.nix
  modules/home/cli/versionControl/git/branch/default.nix
Due: nix, deadnix

chore: hardcode servers ip
  flake.nix
Due: nix, deadnix

chore: update nixpkgs
  flake.lock
Due: none

feat: add evil-commentary
  modules/home/desktop/editor/emacs/evil/default.nix
  modules/home/desktop/editor/emacs/evil/evil-commentary.el
Due: nix, deadnix, elisp

chore: enable cape for nix emacs
  modules/home/desktop/editor/emacs/default.nix
Due: nix, deadnix

feat: add doom emacs
  flake.lock
  flake.nix
  modules/home/desktop/editor/default.nix
  modules/home/desktop/editor/doom-emacs/config/config.el
  modules/home/desktop/editor/doom-emacs/config/init.el
  modules/home/desktop/editor/doom-emacs/config/keymap.el
  modules/home/desktop/editor/doom-emacs/config/packages.el
  modules/home/desktop/editor/doom-emacs/config/plugins/apheleia.el
  modules/home/desktop/editor/doom-emacs/config/plugins/catppuccin.el
  modules/home/desktop/editor/doom-emacs/config/plugins/codeium.el
  modules/home/desktop/editor/doom-emacs/config/plugins/dirvish.el
  modules/home/desktop/editor/doom-emacs/config/plugins/eglot-booster.el
  modules/home/desktop/editor/doom-emacs/config/plugins/eglot.el
  modules/home/desktop/editor/doom-emacs/config/plugins/fzf.el
  modules/home/desktop/editor/doom-emacs/config/plugins/highlight-indent-guides.el
  modules/home/desktop/editor/doom-emacs/config/plugins/make.el
  modules/home/desktop/editor/doom-emacs/config/plugins/nov.el
  modules/home/desktop/editor/doom-emacs/config/plugins/parinfer-rust-mode.el
  modules/home/desktop/editor/doom-emacs/config/plugins/perltidy.el
  modules/home/desktop/editor/doom-emacs/config/plugins/persp-mode.el
  modules/home/desktop/editor/doom-emacs/config/plugins/rainbow-delimiters.el
  modules/home/desktop/editor/doom-emacs/config/plugins/rotate-text.el
  modules/home/desktop/editor/doom-emacs/config/plugins/super-save.el
  modules/home/desktop/editor/doom-emacs/config/plugins/vimrc-mode.el
  modules/home/desktop/editor/doom-emacs/default.nix
Due: nix, deadnix, elisp

chore: change doom emacs dirvish keymap
  modules/home/desktop/editor/doom-emacs/config/plugins/dirvish.el
Due: elisp

chore: remove lisp-format from lefthook
  lefthook.yml
Due: yaml

chore: replace doom emacs pkgs with nix pkgs
  modules/home/desktop/editor/doom-emacs/config/packages.el
  modules/home/desktop/editor/doom-emacs/config/plugins/catppuccin.el
  modules/home/desktop/editor/doom-emacs/config/plugins/codeium.el
  modules/home/desktop/editor/doom-emacs/config/plugins/eglot-booster.el
  modules/home/desktop/editor/doom-emacs/config/plugins/eglot.el
  modules/home/desktop/editor/doom-emacs/config/plugins/fzf.el
  modules/home/desktop/editor/doom-emacs/config/plugins/highlight-indent-guides.el
  modules/home/desktop/editor/doom-emacs/config/plugins/nov.el
  modules/home/desktop/editor/doom-emacs/config/plugins/parinfer-rust-mode.el
  modules/home/desktop/editor/doom-emacs/config/plugins/perltidy.el
  modules/home/desktop/editor/doom-emacs/config/plugins/persp-mode.el
  modules/home/desktop/editor/doom-emacs/config/plugins/super-save.el
  modules/home/desktop/editor/doom-emacs/config/plugins/vimrc-mode.el
  modules/home/desktop/editor/doom-emacs/default.nix
  nvfetcher.toml
  overlays/_sources/default.nix
Due: toml, nix, deadnix, elisp

fix: change pname to ename
  modules/home/desktop/editor/doom-emacs/default.nix
  nvfetcher.toml
  overlays/_sources/default.nix
Due: toml, nix, deadnix

chore: auto update nix hash
  _sources/dela-8745fc49c3a570b37857d91bd238a40343d70726/Cargo.lock
  _sources/generated.json
  _sources/generated.nix
Due: json, nix, deadnix

feat: add emacs-move-text
  modules/home/desktop/editor/doom-emacs/config/config.el
  modules/home/desktop/editor/doom-emacs/config/plugins/move-text.el
  modules/home/desktop/editor/doom-emacs/default.nix
Due: nix, deadnix, elisp

feat: add emacs-nov
  modules/home/desktop/editor/doom-emacs/default.nix
Due: nix, deadnix

Path conditions:
  toml: any of: *.toml
  json: any of: *.json
  yaml: any of: *.{yaml,yml}
  nix: any of: *.nix
  deadnix: any of: *.nix
  python: any of: *.py
  lua: any of: *.lua
  fennel: any of: *.fnl
  markdown: any of: *.md
  sh: any of: *.sh
  go: any of: *.go
  elisp: any of: *.el
