Repository ourgal/snowfall: changes, and which lefthook commands are due for each by the changed paths.
All: toml, json, yaml, nix, deadnix, python, lua, fennel, markdown, sh, go, elisp

toml:
  run: taplo fmt {staged_files}
  stage_fixed: true

json:
  run: fixjson -w {staged_files}
  stage_fixed: true

yaml:
  run: yamlfix {staged_files}
  stage_fixed: true

nix:
  run: nixfmt {staged_files}
  stage_fixed: true

deadnix:
  run: deadnix -eq {staged_files}
  stage_fixed: true

python:
  run: ruff check --fix {staged_files} && ruff format {staged_files}
  stage_fixed: true

lua:
  run: stylua {staged_files}
  stage_fixed: true

fennel:
  run: fnlfmt --fix {staged_files}
  stage_fixed: true

markdown:
  run: prettier --parser markdown --write {staged_files} && autocorrect --fix --quiet {staged_files}
  stage_fixed: true

sh:
  run: shfmt -s -w {staged_files}
  stage_fixed: true

go:
  run: gofmt -w {staged_files}
  stage_fixed: true

elisp:
  run: lisp-format -i -style=google {staged_files}
  stage_fixed: true

chore: pull github automatically
  .envrc
Due: none

chore: update qutebrowser bookmarks
  modules/home/desktop/browser/qutebrowser/quickmarks.key
Due: none

chore: add git config
  modules/home/cli/versionControl/git/default.nix
  modules/home/cli/versionControl/git/merge/default.nix
Due: nix, deadnix

feat: add rtorrent
  modules/home/cli/download/default.nix
  modules/home/cli/download/rtorrent/default.nix
Due: nix, deadnix

chore: update hash
  packages/tach/Cargo.lock
Due: none

chore: update nvfetcher workflow
  .github/workflows/nvfetcher.yaml
Due: yaml

chore: auto update nix hash
  _sources/generated.json
  _sources/generated.nix
  _sources/manga-tui-v0.6.0/Cargo.lock
  _sources/tabry-rs-fedf0234e1e91e45e775dd644012f743a8f6b350/Cargo.lock
Due: json, nix, deadnix

chore: change workflow corn
  .github/workflows/nvfetcher.yaml
Due: yaml

chore: add workflow for updating nixpkgs
  .github/workflows/update-nixpkgs.yaml
Due: yaml

chore: auto update nixpkgs
  flake.lock
Due: none

chore: disable direnv auto updating nixpkgs
  .envrc
Due: none

feat: add Duplicate-Image-Finder
  modules/home/cli/image/default.nix
  nvfetcher.toml
  packages/Duplicate-Image-Finder/default.nix
Due: toml, nix, deadnix

chore: auto update nix hash
  _sources/generated.json
  _sources/generated.nix
Due: json, nix, deadnix

chore: add koreader anki plugin
  modules/home/desktop/document/koreader/default.nix
  nvfetcher.toml
Due: toml, nix, deadnix

chore: add dicts to goldendict-ng
  modules/home/desktop/document/default.nix
  modules/home/desktop/document/goldendict-ng/default.nix
Due: nix, deadnix

chore: update hash
  packages/html-to-markdown/default.nix
Due: nix, deadnix

feat: add wol
  modules/home/cli/system/default.nix
  nvfetcher.toml
  packages/wol/default.nix
Due: toml, nix, deadnix

chore: auto update nix hash
  _sources/generated.json
  _sources/generated.nix
  _sources/mdsf-v0.6.0/Cargo.lock
Due: json, nix, deadnix

Path conditions:
  toml: any of: *.toml
  json: any of: *.json
  yaml: any of: *.{yaml,yml}
  nix: any of: *.nix
  deadnix: any of: *.nix
  python: any of: *.py
  lua: any of: *.lua
  fennel: any of: *.fnl
  markdown: any of: *.md
  sh: any of: *.sh
  go: any of: *.go
  elisp: any of: *.el
