Repository ourgal/snowfall: changes, and which lefthook commands are due for each by the changed paths.
All: toml, json, yaml, nix, deadnix, python, lua, fennel, markdown, sh, go, elisp

lefthook.yml:

---
output: false
pre-commit:
  commands:
    toml:
      glob: '*.toml'
      run: taplo fmt {staged_files}
      stage_fixed: true
    json:
      glob: '*.json'
      run: fixjson -w {staged_files}
      stage_fixed: true
    yaml:
      glob: '*.{yaml,yml}'
      run: yamlfix {staged_files}
      stage_fixed: true
    nix:
      glob: '*.nix'
      run: nixfmt {staged_files}
      stage_fixed: true
    deadnix:
      glob: '*.nix'
      run: deadnix -eq {staged_files}
      stage_fixed: true
    python:
      glob: '*.py'
      run: ruff check --fix {staged_files} && ruff format {staged_files}
      stage_fixed: true
    lua:
      glob: '*.lua'
      run: stylua {staged_files}
      stage_fixed: true
    fennel:
      glob: '*.fnl'
      run: fnlfmt --fix {staged_files}
      stage_fixed: true
    markdown:
      glob: '*.md'
      run: prettier --parser markdown --write {staged_files} && autocorrect --fix
        --quiet {staged_files}
      stage_fixed: true
    sh:
      glob: '*.sh'
      run: shfmt -s -w {staged_files}
      stage_fixed: true
    go:
      glob: '*.go'
      run: gofmt -w {staged_files}
      stage_fixed: true
    elisp:
      glob: '*.el'
      run: lisp-format -i -style=google {staged_files}
      stage_fixed: true
    keep-sorted:
      run: keep-sorted --mode fix {staged_files}
      stage_fixed: true
    whitespace:
      run: >
        whitespace-format --remove-trailing-whitespace
        --remove-trailing-empty-lines
        {staged_files} --exclude
        "(.gpg|.png|.jpg|.jpeg|.webp|.gif|.dat|.age|.mp3|.mp4|.mkv|.ttf|.ico|.xcf|.ogg)$"
      stage_fixed: true
    config-file-validator:
      run: validator {staged_files}
    gitleaks:
      run: gitleaks protect -v --staged
commit-msg:
  scripts:
    commitlint.sh:
      runner: bash

chore: auto update nixpkgs
  flake.lock
Due: none

chore: auto update nix hash
  _sources/generated.json
  _sources/generated.nix
Due: json, nix, deadnix

chore: auto update nix hash
  _sources/cdo-5eb9d59ae3b2878f3d82fb7370087218b425e5d7/Cargo.lock
  _sources/generated.json
  _sources/generated.nix
  _sources/mdsf-v0.6.1/Cargo.lock
Due: json, nix, deadnix

chore: auto update nix hash
  _sources/generated.json
  _sources/generated.nix
  _sources/simple-completion-language-server-8473f2b528b89bec397f0fcfa2ac0d7f96e34b21/Cargo.lock
Due: json, nix, deadnix

chore: auto update nix hash
  _sources/cdo-ffc148ebfbbdcbbd0aa909212b916669e8a40801/Cargo.lock
  _sources/generated.json
  _sources/generated.nix
  _sources/simple-completion-language-server-2e9dd6ed1c8e8e604c9e3d752eeb334df37108a8/Cargo.lock
Due: json, nix, deadnix

chore: auto update nix hash
  _sources/generated.json
  _sources/generated.nix
  _sources/mdsf-v0.7.0/Cargo.lock
  _sources/simple-completion-language-server-a235bf7882859c75271bdb76668c4f1275d2fc19/Cargo.lock
Due: json, nix, deadnix

chore: add webster dict to goldendict-ng
  modules/home/desktop/document/goldendict-ng/default.nix
Due: nix, deadnix

chore: add udev rule
  modules/nixos/udev/default.nix
Due: nix, deadnix

chore: update hash
  packages/tach/Cargo.lock
  packages/wol/default.nix
Due: nix, deadnix

fix: patch Duplicate-Image-Finder shebang
  packages/Duplicate-Image-Finder/default.nix
Due: nix, deadnix

chore: add qutebrowser bookmark
  modules/home/desktop/browser/qutebrowser/quickmarks.key
Due: none

fix: change hypergrep bin name
  packages/hypergrep/default.nix
Due: nix, deadnix

chore: change default terminal
  modules/home/user/default.nix
Due: nix, deadnix

feat: add tree
  modules/home/cli/utils/ls/default.nix
Due: nix, deadnix

chore: add emacs-magit-delta to nvfetcher
  nvfetcher.toml
Due: toml
