Repository ourgal/snowfall: changes, and which lefthook commands are due for each by the changed paths.
All: toml, json, yaml, nix, deadnix, python, lua, fennel, markdown, sh, go, elisp

toml:
  run: taplo fmt {staged_files}
  stage_fixed: true

json:
  run: fixjson -w {staged_files}
  stage_fixed: true

yaml:
  run: yamlfix {staged_files}
  stage_fixed: true

nix:
  run: nixfmt {staged_files}
  stage_fixed: true

deadnix:
  run: deadnix -eq {staged_files}
  stage_fixed: true

python:
  run: ruff check --fix {staged_files} && ruff format {staged_files}
  stage_fixed: true

lua:
  run: stylua {staged_files}
  stage_fixed: true

fennel:
  run: fnlfmt --fix {staged_files}
  stage_fixed: true

markdown:
  run: prettier --parser markdown --write {staged_files} && autocorrect --fix --quiet {staged_files}
  stage_fixed: true

sh:
  run: shfmt -s -w {staged_files}
  stage_fixed: true

go:
  run: gofmt -w {staged_files}
  stage_fixed: true

elisp:
  run: lisp-format -i -style=google {staged_files}
  stage_fixed: true

feat: add emacs-nov
  modules/home/desktop/editor/doom-emacs/default.nix
Due: nix, deadnix

feat: add emacs-move-text
  modules/home/desktop/editor/doom-emacs/config/config.el
  modules/home/desktop/editor/doom-emacs/config/plugins/move-text.el
  modules/home/desktop/editor/doom-emacs/default.nix
Due: nix, deadnix, elisp

chore: auto update nix hash
  _sources/generated.json
  _sources/generated.nix
Due: json, nix, deadnix

chore: add emacs-miniflux to nvfetcher
  nvfetcher.toml
Due: toml

chore: auto update nix hash
  _sources/dela-804d73042da9ee390bc696a2866b73da9f957ccf/Cargo.lock
  _sources/generated.json
  _sources/generated.nix
Due: json, nix, deadnix

feat: add emacs-miniflux
  modules/home/desktop/editor/doom-emacs/config/config.el
  modules/home/desktop/editor/doom-emacs/config/init.el
  modules/home/desktop/editor/doom-emacs/config/plugins/dirvish.el
  modules/home/desktop/editor/doom-emacs/config/plugins/elfeed.el
  modules/home/desktop/editor/doom-emacs/config/plugins/miniflux.el
  modules/home/desktop/editor/doom-emacs/default.nix
  modules/home/desktop/editor/doom-emacs/eglot-booster/default.nix
  modules/home/desktop/editor/doom-emacs/elfeed-protocol/default.nix
  modules/home/desktop/editor/doom-emacs/git-time-metric/default.nix
  modules/home/desktop/editor/doom-emacs/miniflux/default.nix
  modules/home/desktop/editor/doom-emacs/move-text/default.nix
  modules/home/desktop/editor/doom-emacs/nov/default.nix
  modules/home/desktop/editor/doom-emacs/perltidy/default.nix
  modules/home/desktop/editor/doom-emacs/zoxide/default.nix
  modules/nixos/sops-nix/default.nix
  secrets/zxc/default.yaml
Due: yaml, nix, deadnix, elisp

chore: change nixfmt options in doom emacs
  modules/home/desktop/editor/doom-emacs/config/plugins/apheleia.el
Due: elisp

feat: add emacs-pangu-spacing
  modules/home/desktop/editor/doom-emacs/config/config.el
  modules/home/desktop/editor/doom-emacs/config/plugins/pangu-spacing.el
  modules/home/desktop/editor/doom-emacs/default.nix
  modules/home/desktop/editor/doom-emacs/pangu-spacing/default.nix
Due: nix, deadnix, elisp

chore: enable haskell module of doom emacs
  modules/home/desktop/editor/doom-emacs/config/init.el
Due: elisp

chore: enable checkers for elisp of doom
  modules/home/desktop/editor/doom-emacs/config/init.el
Due: elisp

feat: add emacs-magit-todos
  modules/home/desktop/editor/doom-emacs/config/config.el
  modules/home/desktop/editor/doom-emacs/config/plugins/magit-todos.el
  modules/home/desktop/editor/doom-emacs/default.nix
  modules/home/desktop/editor/doom-emacs/magit-todos/default.nix
Due: nix, deadnix, elisp

feat: add emacs-magit-delta
  modules/home/desktop/editor/doom-emacs/config/config.el
  modules/home/desktop/editor/doom-emacs/config/plugins/magit-delta.el
  modules/home/desktop/editor/doom-emacs/default.nix
  modules/home/desktop/editor/doom-emacs/magit-delta/default.nix
Due: nix, deadnix, elisp

feat: add magit-stats
  modules/home/desktop/editor/doom-emacs/config/config.el
  modules/home/desktop/editor/doom-emacs/config/plugins/magit-stats.el
  modules/home/desktop/editor/doom-emacs/default.nix
  modules/home/desktop/editor/doom-emacs/magit-stats/default.nix
  nvfetcher.toml
  packages/magit-stats/default.nix
Due: toml, nix, deadnix, elisp

chore: auto update nix hash
  _sources/cdo-82030c8522a1759b90857b19f4df5f530f6e7a45/Cargo.lock
  _sources/dela-7f57ac6e3ede3e5efe0221e1ef460faca1458bd8/Cargo.lock
  _sources/generated.json
  _sources/generated.nix
Due: json, nix, deadnix

chore: auto update nix hash
  _sources/generated.json
  _sources/generated.nix
  _sources/mdsf-v0.5.3/Cargo.lock
Due: json, nix, deadnix

chore: auto update nix hash
  _sources/generated.json
  _sources/generated.nix
  _sources/simple-completion-language-server-44448fc9190aa474ff1b9707b921acbda4afdbcd/Cargo.lock
Due: json, nix, deadnix

chore: eanble auto nixpkgs update
  .envrc
Due: none

chore: update nixpkgs
  flake.lock
Due: none

chore: enable zed-editor
  modules/home/desktop/editor/default.nix
Due: nix, deadnix

chore: update qutebrowser bookmarks
  modules/home/desktop/browser/qutebrowser/quickmarks.key
Due: none

chore: pull github automatically
  .envrc
Due: none

Path conditions:
  toml: any of: *.toml
  json: any of: *.json
  yaml: any of: *.{yaml,yml}
  nix: any of: *.nix
  deadnix: any of: *.nix
  python: any of: *.py
  lua: any of: *.lua
  fennel: any of: *.fnl
  markdown: any of: *.md
  sh: any of: *.sh
  go: any of: *.go
  elisp: any of: *.el
