Repository ourgal/snowfall: changes, and which lefthook commands are due for each by the changed paths.
All: toml, json, yaml, nix, deadnix, python, lua, fennel, markdown, sh, go, elisp

toml:
  run: taplo fmt {staged_files}
  stage_fixed: true

json:
  run: fixjson -w {staged_files}
  stage_fixed: true

yaml:
  run: yamlfix {staged_files}
  stage_fixed: true

nix:
  run: nixfmt {staged_files}
  stage_fixed: true

deadnix:
  run: deadnix -eq {staged_files}
  stage_fixed: true

python:
  run: ruff check --fix {staged_files} && ruff format {staged_files}
  stage_fixed: true

lua:
  run: stylua {staged_files}
  stage_fixed: true

fennel:
  run: fnlfmt --fix {staged_files}
  stage_fixed: true

markdown:
  run: prettier --parser markdown --write {staged_files} && autocorrect --fix --quiet {staged_files}
  stage_fixed: true

sh:
  run: shfmt -s -w {staged_files}
  stage_fixed: true

go:
  run: gofmt -w {staged_files}
  stage_fixed: true

elisp:
  run: lisp-format -i -style=google {staged_files}
  stage_fixed: true

chore: update hash
  packages/cmdx/default.nix
Due: nix, deadnix

chore: disable neomutt
  modules/home/cli/mail/default.nix
Due: nix, deadnix

chore: pin doom emacs version
  flake.lock
  flake.nix
  modules/home/desktop/editor/doom-emacs/default.nix
Due: nix, deadnix

chore: enable temp hosts
  systems/x86_64-linux/home/default.nix
Due: nix, deadnix

chore: auto update nix hash
  _sources/dela-14257a72b4170eb7891d38a5bf27aae810ffa19c/Cargo.lock
  _sources/generated.json
  _sources/generated.nix
Due: json, nix, deadnix

chore: auto update nixpkgs
  flake.lock
Due: none

chore: auto update nix hash
  _sources/generated.json
  _sources/generated.nix
Due: json, nix, deadnix

chore: auto update nix hash
  _sources/cdo-6dbb00fb8a8d79efbf7f3359345e2fd0c6d3fba2/Cargo.lock
  _sources/generated.json
  _sources/generated.nix
  _sources/hexpatch-v1.10.0/Cargo.lock
  _sources/mdsf-v0.8.0/Cargo.lock
Due: json, nix, deadnix

chore: build emacs-magit-delta from source
  modules/home/desktop/editor/doom-emacs/magit-delta/default.nix
Due: nix, deadnix

chore: change doom emacs to pgtk for now
  flake.nix
  modules/home/desktop/editor/doom-emacs/default.nix
Due: nix, deadnix

chore: disable floorp librewolf and lem
  modules/home/cli/editor/default.nix
  modules/home/cli/editor/lem/default.nix
  modules/home/desktop/browser/bak/default.nix
  modules/home/desktop/browser/default.nix
Due: nix, deadnix

chore: change doom emacs package
  modules/home/desktop/editor/doom-emacs/default.nix
Due: nix, deadnix

chore: update nixpkgs
  flake.lock
Due: none

chore: disable mosdns-cn on brix
  systems/x86_64-linux/brix/default.nix
Due: nix, deadnix

chore: add port option for mosdns-cn
  modules/nixos/mosdns-cn/default.nix
Due: nix, deadnix

chore: update hash
  packages/bafi/default.nix
Due: nix, deadnix

chore: change mirror to nju
  modules/home/cli/nix/settings/default.nix
  modules/nixos/common/nix/default.nix
Due: nix, deadnix

chore: change default terminal to kitty
  modules/home/user/default.nix
Due: nix, deadnix

fix: replace kitty notification with notify-send
  modules/home/cli/shell/fish/default.nix
Due: nix, deadnix

feat: add nftables-mode to doom emacs
  modules/home/desktop/editor/doom-emacs/config/config.el
  modules/home/desktop/editor/doom-emacs/config/packages.el
  modules/home/desktop/editor/doom-emacs/config/plugins/nftables-mode.el
  modules/home/desktop/editor/doom-emacs/default.nix
  modules/home/desktop/editor/doom-emacs/nftables-mode/default.nix
Due: nix, deadnix, elisp

Path conditions:
  toml: any of: *.toml
  json: any of: *.json
  yaml: any of: *.{yaml,yml}
  nix: any of: *.nix
  deadnix: any of: *.nix
  python: any of: *.py
  lua: any of: *.lua
  fennel: any of: *.fnl
  markdown: any of: *.md
  sh: any of: *.sh
  go: any of: *.go
  elisp: any of: *.el
