Repository ourgal/snowfall: changes, and which lefthook commands are due for each by the changed paths.
All: toml, json, yaml, nix, deadnix, python, lua, fennel, markdown, sh, go, elisp

toml:
  run: taplo fmt {staged_files}
  stage_fixed: true

json:
  run: fixjson -w {staged_files}
  stage_fixed: true

yaml:
  run: yamlfix {staged_files}
  stage_fixed: true

nix:
  run: nixfmt {staged_files}
  stage_fixed: true

deadnix:
  run: deadnix -eq {staged_files}
  stage_fixed: true

python:
  run: ruff check --fix {staged_files} && ruff format {staged_files}
  stage_fixed: true

lua:
  run: stylua {staged_files}
  stage_fixed: true

fennel:
  run: fnlfmt --fix {staged_files}
  stage_fixed: true

markdown:
  run: prettier --parser markdown --write {staged_files} && autocorrect --fix --quiet {staged_files}
  stage_fixed: true

sh:
  run: shfmt -s -w {staged_files}
  stage_fixed: true

go:
  run: gofmt -w {staged_files}
  stage_fixed: true

elisp:
  run: lisp-format -i -style=google {staged_files}
  stage_fixed: true

feat: add ChillRound
  lib/fonts/default.nix
  nvfetcher.toml
  packages/ChillRound/default.nix
Due: toml, nix, deadnix

chore: auto update nix hash
  _sources/generated.json
  _sources/generated.nix
Due: json, nix, deadnix

chore: set english font first
  modules/home/fonts/default.nix
Due: nix, deadnix

chore: clean fontconfig code
  modules/home/fonts/default.nix
Due: nix, deadnix

chore: disable ChillRound font
  lib/fonts/default.nix
Due: nix, deadnix

chore: update zashboard hash
  packages/zashboard/default.nix
Due: nix, deadnix

feat: add nix-monitored
  flake.lock
  flake.nix
  modules/nixos/nix-monitored/default.nix
  systems/x86_64-linux/air/default.nix
  systems/x86_64-linux/home/default.nix
Due: nix, deadnix

chore: move pastebinit to cli share
  modules/home/cli/share/default.nix
  modules/home/dev/share/default.nix
Due: nix, deadnix

chore: update nix-index-database
  flake.lock
Due: none

feat: add immich
  lib/domains/default.nix
  modules/nixos/immich/default.nix
  systems/x86_64-linux/brix/default.nix
Due: nix, deadnix

feat: add postgres-update
  modules/nixos/postgres-update/default.nix
  systems/x86_64-linux/brix/default.nix
Due: nix, deadnix

chore: harden network
  modules/nixos/common/network/default.nix
Due: nix, deadnix

chore: change zashboard source
  nvfetcher.toml
  packages/zashboard/default.nix
Due: toml, nix, deadnix

chore: auto update nix hash
  _sources/cdo-1361feffdd16e0221ce23b51a9062787d97a9bff/Cargo.lock
  _sources/generated.json
  _sources/generated.nix
  _sources/manga-tui-v0.7.0/Cargo.lock
Due: json, nix, deadnix

fix: add install phase to zashboard
  packages/zashboard/default.nix
Due: nix, deadnix

feat: add yacd
  modules/nixos/caddy/default.nix
  modules/nixos/yacd/default.nix
  nvfetcher.toml
  packages/yacd/default.nix
  systems/x86_64-linux/brix/default.nix
Due: toml, nix, deadnix

chore: auto update nix hash
  _sources/generated.json
  _sources/generated.nix
  _sources/otree-v0.4.0/Cargo.lock
Due: json, nix, deadnix

chore: add subs
  lib/sing-box/default.nix
  lib/subs/default.nix
  modules/nixos/mihomo/default.nix
  modules/nixos/sing-box/default.nix
  modules/nixos/sops-nix/router/default.nix
  secrets/zxc/default.yaml
Due: yaml, nix, deadnix

chore: add doom emacs settings
  modules/home/desktop/editor/doom-emacs/config/config.el
Due: elisp

chore: enable doom emacs pass module
  modules/home/desktop/editor/doom-emacs/config/config.el
  modules/home/desktop/editor/doom-emacs/config/init.el
  modules/home/desktop/editor/doom-emacs/config/plugins/make.el
  modules/home/desktop/editor/doom-emacs/config/plugins/pass.el
Due: elisp

chore: enable doom emacs nav-flash module
  modules/home/desktop/editor/doom-emacs/config/init.el
Due: elisp

chore: enable doom emacs window-select module
  modules/home/desktop/editor/doom-emacs/config/init.el
Due: elisp

chore: enable doom emacs zen module
  modules/home/desktop/editor/doom-emacs/config/init.el
Due: elisp

feat: add vim-lion
  modules/home/cli/editor/vim/align/default.nix
  modules/home/cli/editor/vim/align/vim-lion/default.nix
Due: nix, deadnix

chore: enable doom emacs multiple-cursors module
  modules/home/desktop/editor/doom-emacs/config/init.el
Due: elisp

feat: add vim-visual-multi
  modules/home/cli/editor/vim/default.nix
  modules/home/cli/editor/vim/multi-cursor/default.nix
  modules/home/cli/editor/vim/multi-cursor/vim-visual-multi/default.nix
Due: nix, deadnix

chore: remove broken sub
  lib/subs/default.nix
Due: nix, deadnix

chore: change doom emacs zoxide keymap
  modules/home/desktop/editor/doom-emacs/config/keymap.el
Due: elisp

chore: enable doom emacs syntax childframe
  modules/home/desktop/editor/doom-emacs/config/init.el
Due: elisp

chore: enable doom emacs ibuffer module
  modules/home/desktop/editor/doom-emacs/config/init.el
Due: elisp

feat: add dockerfile-language-server-nodejs
  modules/home/dev/docker/default.nix
Due: nix, deadnix

feat: add dockfmt
  modules/home/dev/docker/default.nix
Due: nix, deadnix

chore: enable doom emacs docker module
  modules/home/desktop/editor/doom-emacs/config/init.el
Due: elisp

chore: enable doom emacs tty module
  modules/home/desktop/editor/doom-emacs/config/init.el
Due: elisp

feat: add grip
  modules/home/dev/markdown/default.nix
Due: nix, deadnix

chore: enable doom emacs markdown grip
  modules/home/desktop/editor/doom-emacs/config/init.el
Due: elisp

chore: make scripts executable in doom emacs
  modules/home/desktop/editor/doom-emacs/config/config.el
Due: elisp

chore: make script executable in vim
  modules/home/cli/file-manager/chezmoi/config/dot_vim/ftplugin/sh.vim
Due: none

feat: add alert to doom emacs
  modules/home/desktop/editor/doom-emacs/alert/default.nix
  modules/home/desktop/editor/doom-emacs/config/config.el
  modules/home/desktop/editor/doom-emacs/config/plugins/alert.el
  modules/home/desktop/editor/doom-emacs/default.nix
Due: nix, deadnix, elisp

feat: add annotate to doom emacs
  modules/home/desktop/editor/doom-emacs/annotate/default.nix
  modules/home/desktop/editor/doom-emacs/config/config.el
  modules/home/desktop/editor/doom-emacs/config/plugins/annotate.el
  modules/home/desktop/editor/doom-emacs/default.nix
Due: nix, deadnix, elisp

Path conditions:
  toml: any of: *.toml
  json: any of: *.json
  yaml: any of: *.{yaml,yml}
  nix: any of: *.nix
  deadnix: any of: *.nix
  python: any of: *.py
  lua: any of: *.lua
  fennel: any of: *.fnl
  markdown: any of: *.md
  sh: any of: *.sh
  go: any of: *.go
  elisp: any of: *.el
