Repository ourgal/snowfall: changes, and which lefthook commands are due for each by the changed paths.
All: toml, json, yaml, nix, deadnix, python, lua, fennel, markdown, sh, go, elisp

toml:
  run: taplo fmt {staged_files}
  stage_fixed: true

json:
  run: fixjson -w {staged_files}
  stage_fixed: true

yaml:
  run: yamlfix {staged_files}
  stage_fixed: true

nix:
  run: nixfmt {staged_files}
  stage_fixed: true

deadnix:
  run: deadnix -eq {staged_files}
  stage_fixed: true

python:
  run: ruff check --fix {staged_files} && ruff format {staged_files}
  stage_fixed: true

lua:
  run: stylua {staged_files}
  stage_fixed: true

fennel:
  run: fnlfmt --fix {staged_files}
  stage_fixed: true

markdown:
  run: prettier --parser markdown --write {staged_files} && autocorrect --fix --quiet {staged_files}
  stage_fixed: true

sh:
  run: shfmt -s -w {staged_files}
  stage_fixed: true

go:
  run: gofmt -w {staged_files}
  stage_fixed: true

elisp:
  run: lisp-format -i -style=google {staged_files}
  stage_fixed: true

feat: add ditaa
  modules/home/cli/fun/default.nix
Due: nix, deadnix

chore: replace readme markdown with org
  README.md
  README.org
Due: markdown

fix: remove magic-nix-cache
  .github/workflows/nvfetcher.yaml
Due: yaml

chore: auto update nix hash
  _sources/generated.json
  _sources/generated.nix
  _sources/lobtui-v0.3.1/Cargo.lock
  _sources/qlty-v0.529.0/Cargo.lock
Due: json, nix, deadnix

chore: update hash
  modules/home/cli/browser/bak/default.nix
  modules/home/cli/browser/default.nix
  packages/qlty/Cargo.lock
Due: nix, deadnix

feat: add lsp-ai
  modules/home/cli/AI/default.nix
Due: nix, deadnix

chore: remove unused bin from clock-tui
  packages/clock-tui/default.nix
Due: nix, deadnix

chore: enable espanso base config
  modules/home/desktop/system/espanso/default.nix
Due: nix, deadnix

feat: add hardinfo2
  modules/home/desktop/system/default.nix
Due: nix, deadnix

feat: add corefreq
  modules/nixos/corefreq/default.nix
Due: nix, deadnix

feat: add gollama
  modules/home/cli/AI/default.nix
Due: nix, deadnix

feat: add intentrace
  modules/home/cli/system/default.nix
Due: nix, deadnix

feat: add vault-tasks
  modules/home/dev/markdown/default.nix
Due: nix, deadnix

chore: update waiting list
  .gitignore
  README.org
  waiting.sql
Due: none

chore: auto update nix hash
  _sources/cdo-2651319c0ed961a8e96c6ade9c29acb26f1264de/Cargo.lock
  _sources/dela-54a5bc6cf6a65ec7101929ddeed85982ed6e6d29/Cargo.lock
  _sources/generated.json
  _sources/generated.nix
Due: json, nix, deadnix

chore: remove redundant table
  README.org
Due: none

docs: remove redundant waiting package
  README.org
  waiting.sql
Due: none

chore: add make target to update database
  Makefile
Due: none

docs: add heading
  README.org
Due: none

docs: make package name unique
  waiting.sql
Due: none

docs: create packages view
  README.org
  waiting.sql
Due: none

feat: add utpm
  modules/home/dev/typst/default.nix
Due: nix, deadnix

feat: add flow
  modules/home/dev/nodejs/default.nix
Due: nix, deadnix

docs: update waiting list
  README.org
  justfile
  waiting.sql
Due: none

docs: update waiting list
  README.org
  waiting.sql
Due: none

chore: auto update nix hash
  _sources/dela-ec61d14d3bec5bae1d4e21d6644c849cd0288e24/Cargo.lock
  _sources/generated.json
  _sources/generated.nix
Due: json, nix, deadnix

feat: add iotop
  lib/settings/default.nix
  modules/nixos/iotop/default.nix
  systems/x86_64-linux/home/default.nix
  systems/x86_64-linux/router/default.nix
  systems/x86_64-linux/yanyu/default.nix
Due: nix, deadnix

chore: add dailyAl to fdroidcl config
  modules/home/cli/android/fdroidcl/default.nix
Due: nix, deadnix

docs: update waiting list
  waiting.sql
Due: none

chore: disable fcitx5 catppuccin theme
  modules/home/desktop/system/sbsrf/default.nix
Due: nix, deadnix

chore: replace avahi with systemd-resolved
  lib/settings/default.nix
  modules/nixos/avahi/default.nix
  modules/nixos/common/network/default.nix
  modules/nixos/systemd-resolved/default.nix
  systems/x86_64-linux/brix/default.nix
  systems/x86_64-linux/home/default.nix
  systems/x86_64-linux/nixos-mbr/default.nix
  systems/x86_64-linux/nixos-uefi/default.nix
  systems/x86_64-linux/router/default.nix
  systems/x86_64-linux/yanyu/default.nix
Due: nix, deadnix

chore: enable firewall
  systems/x86_64-linux/air/default.nix
  systems/x86_64-linux/home/default.nix
  systems/x86_64-linux/surface/default.nix
  systems/x86_64-linux/yanyu/default.nix
Due: nix, deadnix

chore: disable tmux keymaps
  modules/home/cli/multiplexer/tmux/yank/default.nix
Due: nix, deadnix

chore: add firewall settings
  modules/nixos/atticd/default.nix
  modules/nixos/dufs/default.nix
  modules/nixos/harmonia/default.nix
  modules/nixos/homebox/default.nix
  modules/nixos/memos/default.nix
  modules/nixos/miniflux/default.nix
  modules/nixos/pairdrop/default.nix
  modules/nixos/pyload/default.nix
  modules/nixos/restic-server/default.nix
  modules/nixos/rustypaste/default.nix
  modules/nixos/searx/default.nix
  modules/nixos/tiddlywiki/default.nix
  modules/nixos/vaultwarden/default.nix
Due: nix, deadnix

feat: add mp3-loop
  modules/home/cli/audio/convert/default.nix
  nvfetcher.toml
  packages/mp3-loop/default.nix
Due: toml, nix, deadnix

chore: auto update nix hash
  _sources/generated.json
  _sources/generated.nix
  _sources/hledger-fmt-v0.2.8/Cargo.lock
  _sources/qlty-v0.531.0/Cargo.lock
  _sources/simple-completion-language-server-7d071078a08ac7faff7322957805465303a1e251/Cargo.lock
Due: json, nix, deadnix

feat: add chrony
  modules/nixos/common/ntp/chrony/default.nix
  modules/nixos/common/ntp/default.nix
Due: nix, deadnix

chore: update hash
  packages/geminicommit/default.nix
  packages/qlty/Cargo.lock
Due: nix, deadnix

chore: update qutebrowser bookmarks
  modules/home/desktop/browser/qutebrowser/quickmarks.key
Due: none

chore: replace resolved wih avahi
  lib/settings/default.nix
  systems/x86_64-linux/brix/default.nix
  systems/x86_64-linux/home/default.nix
  systems/x86_64-linux/nixos-mbr/default.nix
  systems/x86_64-linux/nixos-uefi/default.nix
  systems/x86_64-linux/yanyu/default.nix
Due: nix, deadnix

Path conditions:
  toml: any of: *.toml
  json: any of: *.json
  yaml: any of: *.{yaml,yml}
  nix: any of: *.nix
  deadnix: any of: *.nix
  python: any of: *.py
  lua: any of: *.lua
  fennel: any of: *.fnl
  markdown: any of: *.md
  sh: any of: *.sh
  go: any of: *.go
  elisp: any of: *.el
