Repository ourgal/snowfall: changes, and which lefthook commands are due for each by the changed paths.
All: toml, json, yaml, nix, deadnix, python, lua, fennel, markdown, sh, go, elisp

lefthook.yml:

---
output: false
pre-commit:
  commands:
    toml:
      glob: '*.toml'
      run: taplo fmt {staged_files}
      stage_fixed: true
    json:
      glob: '*.json'
      run: fixjson -w {staged_files}
      stage_fixed: true
    yaml:
      glob: '*.{yaml,yml}'
      run: yamlfix {staged_files}
      stage_fixed: true
    nix:
      glob: '*.nix'
      run: nixfmt {staged_files}
      stage_fixed: true
    deadnix:
      glob: '*.nix'
      run: deadnix -eq {staged_files}
      stage_fixed: true
    python:
      glob: '*.py'
      run: ruff check --fix {staged_files} && ruff format {staged_files}
      stage_fixed: true
    lua:
      glob: '*.lua'
      run: stylua {staged_files}
      stage_fixed: true
    fennel:
      glob: '*.fnl'
      run: fnlfmt --fix {staged_files}
      stage_fixed: true
    markdown:
      glob: '*.md'
      run: prettier --parser markdown --write {staged_files} && autocorrect --fix
        --quiet {staged_files}
      stage_fixed: true
    sh:
      glob: '*.sh'
      run: shfmt -s -w {staged_files}
      stage_fixed: true
    go:
      glob: '*.go'
      run: gofmt -w {staged_files}
      stage_fixed: true
    elisp:
      glob: '*.el'
      run: lisp-format -i -style=google {staged_files}
      stage_fixed: true
    keep-sorted:
      run: keep-sorted --mode fix {staged_files}
      stage_fixed: true
    whitespace:
      run: >
        whitespace-format --remove-trailing-whitespace
        --remove-trailing-empty-lines
        {staged_files} --exclude
        "(.gpg|.png|.jpg|.jpeg|.webp|.gif|.dat|.age|.mp3|.mp4|.mkv|.ttf|.ico|.xcf|.ogg)$"
      stage_fixed: true
    config-file-validator:
      run: validator {staged_files}
    gitleaks:
      run: gitleaks protect -v --staged
commit-msg:
  scripts:
    commitlint.sh:
      runner: bash

chore: change default terminal
  modules/home/user/README.md
  modules/home/user/default.nix
Due: nix, deadnix, markdown

fix: sort nix files only
  lefthook.yml
Due: yaml

chore: update hash
  packages/tach/Cargo.lock
Due: none

docs: add cli download doc
  modules/home/cli/download/README.md
Due: markdown

docs: add cli editor doc
  modules/home/cli/editor/README.md
Due: markdown

feat: add vim-anzu
  modules/home/cli/editor/vim/default.nix
  modules/home/cli/editor/vim/motion/default.nix
  modules/home/cli/editor/vim/motion/is-vim/default.nix
  modules/home/cli/editor/vim/motion/vim-anzu/default.nix
Due: nix, deadnix

feat: add vim-asterisk
  modules/home/cli/editor/vim/motion/default.nix
  modules/home/cli/editor/vim/motion/is-vim/default.nix
  modules/home/cli/editor/vim/motion/vim-asterisk/default.nix
Due: nix, deadnix

feat: add jq-vim
  modules/home/cli/editor/vim/lang/default.nix
  modules/home/cli/editor/vim/lang/jq/default.nix
  modules/home/cli/editor/vim/lang/jq/jq-vim/default.nix
Due: nix, deadnix

feat: add vim-dirvish
  modules/home/cli/editor/vim/picker/default.nix
  modules/home/cli/editor/vim/picker/vim-dirvish/config.vim
  modules/home/cli/editor/vim/picker/vim-dirvish/default.nix
  nvfetcher.toml
  packages/vim-dirvish-dovish/default.nix
Due: toml, nix, deadnix

chore: disable vim foldcolumn
  modules/home/cli/editor/vim/option.vim
Due: none

fix: add weztrem opts for awesome config
  modules/home/awesome/minimalFnl/config/settings.fnl
Due: fennel

chore: auto update nix hash
  _sources/generated.json
  _sources/generated.nix
Due: json, nix, deadnix

chore: update hash
  _sources/generated.json
  _sources/generated.nix
  packages/vim-dirvish-dovish/default.nix
Due: json, nix, deadnix

feat: add far-vim
  modules/home/cli/editor/vim/search/default.nix
  modules/home/cli/editor/vim/search/far-vim/config.vim
  modules/home/cli/editor/vim/search/far-vim/default.nix
Due: nix, deadnix

feat: add LeaderF vim plugin
  modules/home/cli/editor/vim/picker/LeaderF/config.vim
  modules/home/cli/editor/vim/picker/LeaderF/default.nix
  modules/home/cli/editor/vim/picker/default.nix
Due: nix, deadnix

feat: add vim-ipython
  modules/home/cli/editor/vim/lang/default.nix
  modules/home/cli/editor/vim/lang/python/default.nix
  modules/home/cli/editor/vim/lang/python/vim-ipython/default.nix
Due: nix, deadnix

feat: add tabular vim plugin
  modules/home/cli/editor/vim/align/default.nix
  modules/home/cli/editor/vim/align/tabular/default.nix
Due: nix, deadnix

feat: add zig-vim
  modules/home/cli/editor/vim/lang/default.nix
  modules/home/cli/editor/vim/lang/zig/default.nix
  modules/home/cli/editor/vim/lang/zig/zig-vim/default.nix
Due: nix, deadnix
